//Brand Colors
$blue: #0E76BD;
$ltblue: #25AAE2;
$orange: #F7941D;
$red: #EE4037;
$tan: #E1CD8E;
$green: #D8DF20;
$purple: #AB53A1;
$brightgreen: #7ed50d;

//Text Colors
$text: #595959;
$lttext: #999999;

// Greys
$ltgrey: #eaeaea;
$midgrey: #84868A;
$dkgrey: #2d2d2d;
$border: #c0c0c0;
$legacygrey: #f5f5f5;

// Links
$linkColor: $blue;

// Call To Action Button
$ctaColor: $brightgreen;