
/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  @include break(mama-shark) {
    width: 48.717948717948715%;
    &.first {
      clear: none;
      margin-left: 2.564102564102564%;
    }
    &:nth-of-type(2n + 1) {
      clear: both;
      margin-left: 0;
    }
  }

  @include break(child-shark) {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
  }
}

/*
Common Classes
---------------------------------------------------------------------------------------------------- */

.light-grey {
  background: $ltgrey;
  color: $text;
}
.dark-grey {
  background: $midgrey;
  
}
.legacygrey {
  background: $legacygrey;
}

.blue {
  background: $blue;
  color: white;
  a {
    color: white;
  }
}
.white {
  background: white;
  color: $text;
}

.white, .light-grey {
  h1, h2, h3, h4, h5, p {
    color: $text;
  }
}

.blue, .dark-grey {
  h1, h2, h3, h4, h5, p {
    color: white;
  }
}
.modules {
  border-top: 1px solid $border;
  padding: 30px 0;
}

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sticky {
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 2.4rem
}

img.alignnone {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
	margin: 0 2.4rem 2.4rem 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
	margin: 0 0 2.4rem 2.4rem;
}

.wp-caption {
  border: 3px solid $border;
  padding: 8px;
}

.bottom-modules .wp-caption {
  border: none;
}

.no-border {
	border:none !important;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.gallery-caption {
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
  display: none;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding-top: 2px;
	height: 30px;
	background: $ltgrey;
	> span {
  	width: 90%;
  	margin: 0 auto;
  	display: block;
  	> span:last-child {
    	position: relative;
      padding-right: 30px;
      /*&:before {
      	content: "";
        width: 0; 
        height: 0; 
        border-left: 31px solid transparent;
        border-right: 31px solid transparent;
	
        border-top: 31px solid $ltgrey;
        position: absolute;
        right: -45px;
        bottom: -7px;
        z-index: 1000;
      }*/
    	&:after {
      	content: "";
      	background: white;
      	display: block;
      	width: 1000%;
      	height: 31px;
      	position: absolute;
        top:-7px;
        left: 110%;
      }
  	}
  }
}

.archive-description,
.author-box {
	margin-bottom: 20px;
	margin-bottom: 2rem;
	p {
  	margin: 0;
	}
}



.archive-description {
}

.author-box {
	padding: 40px;
	padding: 4rem;
}

.author-box-title {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 4px;
	margin-bottom: 0.4rem;
}

.author-box a {
	border-bottom: 1px solid #ddd;
}

.author-box p {
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
}

.entry-title a:hover {
	color: #666;
}

.widget-title {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
	text-transform: uppercase;
}

.sidebar .widget-title a {
	border: none;
}

.archive-title {
  font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
  margin-bottom: 0;
}

body.dealersf {
  div#livechat,body.dealersf #quoteBox,
  #phone, .phone,
  a[href*="/where-to-buy/"],
  a[href*="/quote-confirmation/"],
  a[href*="/contact-us/"],
  a[href*="/how-to-buy/"],
  a[href*="/thank-you/"],
  a[href*="/request-quote/"],
  .not-dealersf,
  .screenflex-only,
  .call-to-action,
  .price-cat-cta,
  #BYORD #buttons,
  #gform_wrapper_3,
  .request-wrapper,
  .agent,
  .middle-modules,
  .bottom-modules {
    display:none!important;
    visibility:hidden!important;
  }
  .dealersf-only {
	visibility: visible!important;
	display: inherit!important;
	}
}

.dealersf-only {
	display:none;
    visibility:hidden;
}

body.dealersf .recommended {
	border-bottom: 1px solid $border;
}

.page-changer #submit {
  display: none;
}

.catnav {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

a.post-edit-link {
  clear: both;
  padding: 10px 20px;
  background: $blue;
  color: white !important;
  border-radius: 5px;
}


.mobile, .tablet { display: none !important;  }
@include break(papa-shark) {
  .tablet {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
}
@include break(teen-shark) {
  .mobile {
    display: block !important;
  }
  .no-mobile {
    display: none !important;
  }
}