/*
Content Area
---------------------------------------------------------------------------------------------------- */
.content-sidebar-wrap {
  margin: 0 auto;
  .sf_narrow &, .search-results & {
    width: 640px;
    @include break(tween-shark) {
      width: 90%;
    } 
  }
  .sf_medium & {
    width: 960px;
    @include break(mama-shark) {
      width: 90%;
    }
  }
  .sf_wide &, .blog &, .single &, .archive & {
    width: 90%;
    max-width: 1200px;
  }
  .sf_full &, .single-videos &, .page-template-page-product-php & {
    width: 100%;
    max-width: none;
  }
  
  @include break(mama-shark) {
    
  }
}

#TB_caption {
  height: auto !important;
}

.sticky {
  //background: orange !important;
}

.before-after {
  //background: green !important;
}

.blog, .search {
  
  .post, .page, .videos, .review, .photo {
    border-bottom: 1px solid $border;
    padding: 0 0 30px 0;
  }
  .entry-content {
    padding: 0;
  }
  article img {
    border-radius: 50%;
    border: 2px solid $border;
    width: 200px;
    height: 200px;
    @include break(baby-shark) {
      width: 100px;
      height: 100px;
    }
    &:hover {
      opacity: .7;
    }
  }
  h2 {
    margin: 0 0 10px;
   a {
      color: $linkColor;
      font-size: 24px;
      font-size: 2.4rem;
    }
  }
  
}

.single {
  h2, h3, h4, h5, h6 {
    color: $ltblue;
  }
  img {
    border: 2px solid $border;
  }
}
/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	margin-bottom: 4rem;
	padding: 0;
	padding:0;
}

.entry-content {
  padding: 30px 0 30px;
}

.site-inner .entry-content {
  padding: 0 0 30px;
}
.entry-content a {
	color: $linkColor;
}

.entry-content a:hover {
	color: #333;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
	margin-bottom: 2.6rem;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
	margin-left: 4rem;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
	margin: 10px 0 0;
	margin: 1rem 0 0;
	padding: 10px 0 0;
	padding: 1rem 0 0;
	clear: both;
	width: 100%;
}

.entry-meta a {
}

.entry-header .entry-meta {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	margin: 0 -40px;
	margin: 0 -4rem;
	padding: 32px 40px 8px;
	padding: 3.2rem 4rem 0.8rem;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
	margin: 0 0.6rem 0 0.2rem;
}

.entry-categories,
.entry-tags {
	display: block;
}

.split-content {
  -webkit-column-count:2; /* Chrome, Safari, Opera */
     -moz-column-count:2; /* Firefox */
          column-count:2;
  -webkit-column-gap:40px; /* Chrome, Safari, Opera */
     -moz-column-gap:40px; /* Firefox */
          column-gap:40px;
  &.three {
  -webkit-column-count:3; /* Chrome, Safari, Opera */
     -moz-column-count:3; /* Firefox */
          column-count:3;
    @include break(teen-shark) {
      -webkit-column-count:2; /* Chrome, Safari, Opera */
         -moz-column-count:2; /* Firefox */
              column-count:2;
    }
  }
  &.four {
  -webkit-column-count:4; /* Chrome, Safari, Opera */
     -moz-column-count:4; /* Firefox */
          column-count:4;
    @include break(mama-shark) {
      -webkit-column-count:3; /* Chrome, Safari, Opera */
         -moz-column-count:3; /* Firefox */
              column-count:3;
    }
    @include break(teen-shark) {
      -webkit-column-count:2; /* Chrome, Safari, Opera */
         -moz-column-count:2; /* Firefox */
              column-count:2;
    }
  }
  @include break(teen-shark) {
    -webkit-column-count:1 !important; /* Chrome, Safari, Opera */
       -moz-column-count:1 !important; /* Firefox */
            column-count:1 !important;
    -webkit-column-gap:0px !important; /* Chrome, Safari, Opera */
       -moz-column-gap:0px !important; /* Firefox */
            column-gap:0px !important;
  }
}

.unsplit, ol li { 
  -webkit-column-break-inside:avoid; 
     -moz-column-break-inside:avoid; 
       -o-column-break-inside:avoid; 
      -ms-column-break-inside:avoid; 
          column-break-inside:avoid;  
         
         -webkit-break-inside:avoid;
            -moz-break-inside:avoid;
              -o-break-inside:avoid;
             -ms-break-inside:avoid;
                 break-inside:avoid;
  }

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 40px 0;
	margin: 4rem 0;
	clear: both;
	display: block;
	width: 100%;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: $ltblue;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	padding: 0.8rem 1.2rem;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: $text;
}

.entry-pagination a {
	border-bottom: 1px solid #ddd;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.entry-comments {
	padding: 0px;
}

.comment-respond,
.entry-pings {

}

.comment-respond a,
.entry-comments a {
	border-bottom: 1px solid #ddd;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
	margin-right: 1.2rem;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 24px;
	margin-top: 2.4rem;
	padding: 32px;
	padding: 3.2rem;
}

.comment-list li li {
	margin-right: -32px;
	margin-right: -3.2rem;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment .avatar {
	margin: 0 16px 24px 0;
	margin: 0 1.6rem 2.4rem 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px;
	padding: 2.4rem;
}

.fs-product-image {
  float: right;
  border: 3px solid $border;
  padding: 10px;
  padding: 1rem;
  margin-top: 41px;
  margin-top: 4.1rem;
  @include break(teen-shark) {
    margin-top: 10px;
    float: none;
    width: 100%;
  }
}
dl.product-code-description {
  float: left;
  text-align: left;
  width: 250px;
  border: 1px solid $border;
  border-bottom: none;
  margin: 0 20px 0 0;
  margin: 0 2rem 0 0;
  @include break(teen-shark) {
    float: none;
    width: 100%;
  }
  dt, dd {
    padding: 5px 10px;
  }
  dt {
    background: $midgrey;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-style: 1.8rem;
  }
  dd {
    margin: 0;
    background: $ltgrey;
    border-bottom: 1px solid $border;
  }
}

.countries .clear, .flags, .downloads {
  border-bottom: 1px solid $border;
  padding-bottom: 30px;
  margin-bottom: 30px; 
  overflow: hidden;
}

@include break(child-shark) {
  .countries .first {
    border-bottom: 1px solid $border;
    padding-bottom: 30px;
    margin-bottom: 30px; 
    overflow: hidden;
  }
}
.flags a {
  display: inline-block;
  margin: 0 10px 10px 0;
  float: left;
  clear: none;
}

.jp-relatedposts {
  .jp-relatedposts-post-img {
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }
  h4.jp-relatedposts-post-title a {
    font-size: 16px;
    font-size: 1.6rem;
  }
}