.price-cat-cta {
  /*width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  .wrap {
    position: relative;
    height: 100%;
  }
  */
  &.stick {
    display: none;
  }
  .catalog-request {
    position: fixed;
    padding: 0px 20px;
    width: 400px !important;
    right: -600px;
    bottom: 2.5%;
    background: white;
    box-shadow: 0 0 8px rgba(black, .5);
    opacity: 0;
    z-index: 100000000000;
    transition: all .3s ease-in-out;
    @include break(child-shark) {
      width: 103% !important;
      height: 100% !important;
      overflow-y: auto;
      right: auto;
      top: 0;
      left: -100%;
      bottom: auto;
      padding-bottom: 60px;
      padding-bottom: 6rem;
    }

    &.open {
      opacity: 1;
      right:10%;
      max-height: 100%;
      overflow: auto;
      @include break(child-shark) {
        left: 0;
        top: 0;
      }
    }
    li {
      margin: 0 !important;
      padding: 0 !important;
    }
    .gfield_label {
      font-size: 16px !important;
      font-size: 1.6rem !important;
      margin: 0 !important;
    }
    input {
      font-size: 16px !important;
      font-size: 1.6rem !important;
      padding: 5px !important;
      margin: 0 !important;
    }
    h2 {
      color: $text;
    }
    .gform_wrapper .gform_heading {
	    margin-bottom: none;
    }
    .close-catalog {
      position: absolute;
      top: 1%;
      right: 1%;
      font-size: 30px;
      cursor: pointer;
      
      @include break(child-shark) {
        top: 5px;
        right: 5px;
      }
    }
  }
  
  .priceguide-cta {
    position: fixed;
    right: 0;
    bottom: 2.5%;
    text-align: center;
    background: $ctaColor !important;
    font-weight: bold;
    border:2px solid $midgrey;
    border-right:none;
    border-top-left-radius: 1em;       
    border-bottom-left-radius: 1em; 
    z-index: 100000000001;
    @include break(child-shark) {
      width: 100%;
      bottom: 0px;
      left: 0;
      right: auto;
      border-radius: 0px;
    }
  }
  
  
}

.request-phone, .request-email {
    width: 50%;
    padding-right: 1%;
    float: left !important;
    clear: none !important;
  }

.middle-modules {
  overflow: hidden;
  .module {
    padding: 10px 50px;
  }
  h3 {
    text-align: center;
    margin: 0;
  }
  .one {
    width: 50%;
    margin: 0 auto;
  }
  p {
    text-align: justify;
    margin: 0;
  }
  .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .agent {
    width: 30%;
    text-align: center !important;
    @include break(child-shark) {
      width: 100%;
    }
   p, h3 {
    margin: 0;
    text-align: center !important;
    }
  }
  .quote {
    padding: 60px 20px 0;
    width: 70%;
    font-size: 18px;
    float: left;
    @include break(child-shark) {
      width: 100%;
    }
    @include break(baby-shark) {
      padding: 20px 20px 0;
    }
  }
  @include break(child-shark) {
  }
}

.bottom-modules {
  text-align: center;
  overflow: hidden;
  h2 {
    margin-bottom: 5px;
  }
  .agent h3 {
    margin-bottom: 0;
  }
  img {
    border: 2px solid $border;
  }
  .alignleft {
    padding-right: 10px;
  }
}

/*.page-changer select {
  option {
    &.pager-education, &.pager-hospitality, &.pager-corporate, &.pager-government {
      font-weight: 700;
      background: $ltblue;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}*/