/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	color: $text;
	@include font-stack-body(0);
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.625;
}

*{
  font-size: 1.6rem;
  line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: $linkColor;
	color: #fff;
}

::selection {
	background-color: $linkColor;
	color: #fff;
}

a {
	color: $linkColor;
	text-decoration: none;
	
}

a img {
	margin-bottom: -4px;
	margin-bottom: -0.4rem;
}

a:hover {
	color: $ltblue;
	.icon {
    fill: $ltblue;
  }
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 40px 40px 24px;
	margin: 4rem 4rem 2.4rem;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	@include font-stack-headings(0);
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 16px;
	margin: 0 0 1.6rem;
}

h1, h1 a {
	font-size: 40px;
	font-size: 4rem;
	@include break(teen-shark) {
	  font-size: 35px;
    font-size: 3.5rem;  
	}
	@include break(baby-shark) {
	  font-size: 30px;
    font-size: 3rem;  
	}
}

h2, h2 a {
	font-size: 30px;
	font-size: 3rem;
	@include break(teen-shark) {
	  font-size: 26px;
    font-size: 2.6rem;  
	}
	@include break(baby-shark) {
	  font-size: 24px;
    font-size: 2.4rem;  
	}

}

h3, h3 a {
	font-size: 24px;
	font-size: 2.4rem;
	@include break(teen-shark) {
	  font-size: 22px;
    font-size: 2.2rem;  
	}
	@include break(baby-shark) {
	  font-size: 20px;
    font-size: 2rem;  
	}

}

h4, h4 a {
	font-size: 20px;
	font-size: 2rem;
  @include break(teen-shark) {
	  font-size: 19px;
    font-size: 1.9rem;  
	}
	@include break(baby-shark) {
	  font-size: 18px;
    font-size: 1.8rem;  
	}

}

h5, h5 a {
	font-size: 18px;
	font-size: 1.8rem;
}

h6, h6 a {
	font-size: 16px;
	font-size: 1.6rem;
}

.large, .large a {
  font-size: 20px;
  font-size: 2rem;
	@include break(teen-shark) {
	  font-size: 18px;
    font-size: 1.8rem;  
	}
	@include break(baby-shark) {
	  font-size: 17px;
    font-size: 1.7rem;  
	}
}

.small, .small a {
  font-size: 14px;
  font-size: 1.4rem;
}
/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #eee inset;
	color: #999;
	font-size: 16px !important;
	font-size: 1.6rem !important;
	padding: 5px !important;
	padding: .5rem !important;
	width: 98% !important;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

::-moz-placeholder {
	color: #999;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #999;
}

.button,
a.button,
div.gform_wrapper input[type="button"],
div.gform_wrapper input[type="submit"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
	background-color: $blue;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	padding: 12px 24px !important;
	padding: 1.2rem 2.4rem !important;
	text-transform: uppercase;
	font-size: 16px !important;
	font-size: 1.6rem !important;
	width: auto !important;
	font-weight: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	line-height: 1;
	
	&:hover, &:focus, &:active {
  	background-color: $ltblue;
  	outline: none;
  	border: none;
  	color: white;
	}
	
	@include break(child-shark) {
  	width: 100% !important;
  	text-align: center !important;
	}
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
	padding: 0.6rem 0;
}

.lightbg {
  background: $ltgrey;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 40px 0;
  padding: 4rem 0;
}

.gform_wrapper .gfield_date_month, .gform_wrapper .gfield_date_day, .gform_wrapper .gfield_date_year {
  width: 70px !important;
  input {
    width: 100% !important;
  }
}

.gform_wrapper .gfield_date_year {
  width: 85px !important;
}