.page-template-template-features-php {
  .site-header {
    margin-bottom: 0;
  }  
  .breadcrumb {
    display: none;
  }
  
  .features {
    border-top: none;
    padding: 20px 0;
    padding: 2rem 0;
    @include break(teen-shark) {
      background: none;
      border: none;
      padding-bottom: 0px;
    }
  }
  
  .entry-header {
    margin-bottom: 30px;
    
    h1, h2 {
      text-align: center;
      margin: 0;
    }
    h2 {
      font-weight: 300;
      font-size: 22px;
      font-size: 2.2rem;
    }
  }
  
  .features-canvas {
    position: relative;
    @include break(teen-shark) {
      display: none;
    }
  }
  
  .circles {
    li {
      position: absolute;
      text-indent: -99999px;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid white;
      background: rgba(white,.4);
      top: 0;
      left: 0;
      box-shadow: 0 0 8px rgba(black, .6);
      transition: all .3s linear;
      cursor: pointer;
      z-index: 1;
      &:hover {
        background: rgba(white, .2);
      }
      &.active {
        border: 2px solid $red;
        background: none;
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        z-index: 6;
      }
      &#sound {
        top: 7%;
        left: 95%;
      }
      &#leveling {
        top: 48%;
        left: 77%;
      }
      &#tackable {
        top: 20%;
        left: 73%;
      }
      &#support {
        top: 50%;
        left: 89%;
        height: 150px;
        width: 150px;
      }
      &#usa {
       top: 46%;
       left: 20.7%;
      }
      &#quality {
        left: 37.1%;
        top: 17%;
      }
      &#caster {
        top: 92%;
        left: 12.5%;
      }
      &#fl_hinges {
        left: 49.1%;
        top: 5%;
      }
      &#latch {
        left: 16%;
        top: 85%;
      }
      &#pc_hinges {
        top: -19px;
        left: 30%;
      }
      &#gusset_plate {
        left: 22%;
        top: 81.5%;
      }
    }
  }
  
  .popovers {
    list-style: none;
    cursor: default;
    li {
      position: absolute;
      background: white;
      box-shadow: 0 0 8px rgba(black, .6);
      padding: 15px;
      width: 475px;
      height: 270px;
      top: 50%;
      left: 33.5%;
      opacity: 0;
      transition: opacity .3s linear;
    }
    
    .icon-cross {
      position: absolute;
      top: -7px;
      right: -7px;
      font-size: 30px;
      cursor: pointer;
    }
    img {
      border-radius: 50%;
      border: 3px solid $ltgrey;
      margin-bottom: 15px;
    }
    
    h2 {
      margin-top: 20px;
    }
    p {
      border-top: 1px solid $ltgrey;
      width: 100%;
      clear: both;
      padding-top: 15px;
    }
  }
  
  [data-active="sound"] .sound, [data-active="leveling"] .leveling, [data-active="tackable"] .tackable, 
  [data-active="support"] .support, [data-active="usa"] .usa, [data-active="quality"] .quality,
  [data-active="caster"] .caster, [data-active="fl_hinges"] .fl_hinges, [data-active="latch"] .latch,
  [data-active="pc_hinges"] .pc_hinges, [data-active="gusset_plate"] .gusset_plate {
    opacity: 1;
  }
  
  .zoom {
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
  }
  
  .zoomoff {
    display: none;
  }
  
  .zoomImg {
    cursor: crosshair;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
  }
  
  .hover {
    position:absolute;
    bottom:2px;
    left: 50%;
    margin-left: -44px;
    color: $text; 
    font-size: 13px;
    display: none;
    z-index: 100000;
  }
  
}

.full-features {
  padding: 40px 0;
  padding: 4rem 0;
  text-align: center;
  img {
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid $ltgrey;
    width: 200px;
  }
  h2 {
    margin-top: 5px;
  }
  p {
    text-align: justify;
  }
  
}

.vine {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid $ltgrey;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transition: all .5s linear;
  img, iframe, .icon-play {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    transition: all .5s linear;
  }
  img {
    border-radius: 50%;
  }
  .icon-play {
    left: 120px;
    top: 120px;
    font-size: 50px;
    color: $text;
    z-index: 5;
    text-shadow: 0 0 5px rgba(black, .5);
  }
  iframe {
    opacity: 0;
    border-radius: 50%;
  }
  
  &:hover {
    border-radius: 0px;
    iframe {
      opacity: 1;
    }
    img, .icon-play {
      opacity: 0;
    }
  }
}

#mlens_target_0 {
  &.hide {
    display: none !important;
    visibility: hidden !important;
  }
}

.parent-pageid-5031 .full-features {
  display: none !important;
}