/*
Social and Link Footer
---------------------------------------------------------------------------------------------------- */
.social-link-footer {
  background: $midgrey;
  padding: 20px 0;
  padding: 2rem 0;
  a {
    color: white;
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
  }
  .menu-footer-social-icons-container, .social {
    float: left;
    a {
      background: white;
      height: 30px;
      width: 30px;
      display: block;
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
      font-size: 17px;
      margin-right: 5px;
      i {
        color: $text;
      }
      &:hover {
        background: $blue;
        i {
          color: white;
        }
      }
    }
  }
  .menu-footer-main-container, .links {
    float: right;
    a {
      margin-left: 20px;
      &:hover {
        color: $blue;
      }
    }
  }
  
  @include break(mama-shark) {
    .links, .social, ul, .menu-footer-social-icons-container, .social {
      float: none;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
    .social {
      margin-bottom: 10px;
    }
  }
}

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	color: $text;
	clear: both;
	padding: 40px 0 16px;
	padding: 4rem 0 1.6rem;
  .widget-area {
    width: 25%;
    float: left;
    @include break(teen-shark) {
      width: 50%;
    }
    @include break(child-shark) {
      width: 100%;
      border-bottom: 1px solid $border;
      margin-bottom: 25px;
      margin-bottom: 2.5rem;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
  
  .widget-title {
    text-transform: none;
    color: $text;
    font-weight: 700;
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
  }
}


.footer-widgets li {
  line-height: 1.2;
}
.footer-widgets a {
	color: $text;
	display: inline-block;
	clear: both;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1;
	padding: 0;
	margin: 0;
}

.footer-widgets a:hover {
	color: $blue;
}

.footer-widgets .widget {
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}

.footer-widgets li {
	list-style-type: none;
	word-wrap: break-word;
}

.footer-widgets .search-form input:focus {
	border: 1px solid #ddd;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #EAEAEA;
	border-top: 1px solid #c0c0c0;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 40px 0;
	padding: 4rem 0;
	text-align: center;
	span {
  	margin-right: 20px;
  	@include break(teen-shark) {
  	  margin-right: 0;
  	  width: 50%;
      display: block;
      float: left;
  	}
  	@include break(child-shark) {
    	display: block;
    	clear: both;
    	float: none;
    	width: 100%;
  	}
	}
}

.site-footer a, .site-footer .live-chat {
	color: $linkColor;
	&:hover {
        color: $ltblue;
        border-bottom: 1px solid $ltblue;
      }
}

.site-footer p {
	margin-bottom: 0;
}

.footer-image {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
