.home {
  .site-header {
    margin-bottom: 0;
  }  
  .breadcrumbs {
    display: none;
  }
  .hero {
    background: $ltgrey;
  }
  
  .cta {
    background: rgba(white, .8);
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 20px 0;
    padding: 2rem 0;
    height: 85px;
    margin: -35px 0 0;
    margin: -3.5rem 0 0;
    position: absolute;
    width: 100%;
    text-align: center;
    @include font-stack-headings(0);
    a {
      font-size: 28px;
      font-size: 2.8rem;
      &:hover {
        color: $ltblue;
        .icon {
          fill: $ltblue;
        }
      }
    }
    .icon {
        display: inline;
        height: 45px;
        width: 45px;
        vertical-align: middle;
      }
    @include break(teen-shark) {
      text-align: left;
      font-size: 22px;
      font-size: 2.2rem;
      margin: -20px 0 0;
      margin: -6rem 0 0;
      padding: 13px 0;
      padding: 1.3rem 0;
      .icon {
        height: 35px;
        width: 35px;
      }
    }
    
    @include break(child-shark) {
      font-size: 20px;
      font-size: 2rem;
      .icon {
        height: 40px;
        width: 32px;
      }
    }
    
    @include break(baby-shark) {
      height: auto;
      margin: 0;
      position: static;
      a {
        display: block;
        width: 100%;
        clear: both;
        margin-bottom: 10px;
      }
    }

  }
  
  .introduction {
    margin: 80px 0;
    margin: 8rem 0;
    text-align: center;
    @include break(teen-shark) {
      margin: 40px 0;
      margin: 4rem 0;
    }
    h1 {
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    .large {
      line-height: 1.2;
      width: 50%;
      margin: 0 auto;
      @include break(teen-shark) {
        width: 80%;
      }
      @include break(baby-shark) {
        width: 100%;
      }
    }
  }
  .grid {
    margin: 80px 0 0;
    @include break(teen-shark) {
      margin: 40px 0 0;
      margin: 4rem 0 0;
    }
    p {
      text-align: center;
      margin-bottom: 0 ;
    }
    h2 {
      margin: 0;
      a {
      color: $text;
      }
    }
    
    @include break(child-shark) {
      p {
        font-size: 15px;
      }
      .one-third {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $border;
      }
    }

  }
  
  .blog {
    .one-third {
      i, h2 {
        text-align: center;
        margin: 0;
      }
      @include break(child-shark) {
        margin-bottom: 20px;
        margin-bottom: 2rem;
        border-bottom: 1px solid $border;
      }
    }
    article {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
    figure {
      float: left;
      margin-right: 20px;
      margin-right: 2rem;
      img {
        width:200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $border;
        @include break(teen-shark) {
          width: 100px;
          height: 100px;
        }
      }
    }
    .entry-meta {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      clear: none;
      width: auto;   
    }
    .entry-title {
      font-size: 22px;
      font-size: 2.2rem;
      color: $blue;
      margin: 0;
      padding: 0;
      a {
        color: $blue;
      }
    }
    .entry-content {
      font-size: 14px;
      font-size: 1.4rem;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
   @include break(child-shark) {
      .icon {
        float: left;
        margin: 5px 10px 0 0;
      }
      h2, p, h2 a, .blog .one-third h2 {
        text-align: left;
      }
    }

}