/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	//border-bottom: 1px solid $border;
	box-shadow: 0 0 5px rgba(black, .4);
	@include font-stack-headings(0);
	z-index: 99998;
	position: relative;
	margin-bottom: 30px;
  @include break(teen-shark) {
    .widget_text {
      margin-top: 5px;
      text-align: center;
    }
	}
	.single-videos & {
  	margin-bottom: 0;
	}
}

.site-header .wrap {
	padding: 18px 0;
	padding: 1.8rem 0;
	position: relative;
  @include break(teen-shark) {
    padding: 10px 0 5px;
    padding: 1rem 0 .5rem;
    
  }
}

.site-header a.phone {
  color: $text;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  @include break(teen-shark) {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	font-family: Lato, sans-serif;
	font-weight: 700;
	width: 395px;
	@include break(mama-shark) {
	  width: 300px;
	}
	
	@include break(teen-shark) {
  	margin: 0 auto;
	  float: none;
	}
}

.header-image .title-area {
	padding: 0;
}

.site-title {
  display: block;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	text-indent: -9999px;
	background: url(../images/logo.jpg) no-repeat 0 0;
	height: 59px;
	width: 395px;
	float: left;
  @include break(mama-shark) {
    background-size: 300px;
    width: 300px;
    height: 41px;
    
  }
}

.site-title a,
.site-title a:hover {
	color: #333;
	height: 59px;
	width: 395px;
	display: block;
	float: left;
	@include break(mama-shark) {
	  width: 300px;
	  height: 41px;
	  margin: 0 auto;
	  float: none;
	}

}

.site-description {
	color: #999;
	height: 0;
	opacity: 0;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 0;
	text-indent: -9999px;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-header .wrap {
	background: url(images/logo.png) no-repeat left;
	padding: 0;
}

.header-image .site-title a {
	float: left;
	min-height: 164px;
	width: 100%;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: auto;
	@include break(teen-shark) {
    width: 100%;
  }

}

.site-header .search-form {
	float: right;
	margin-top: 24px;
	margin-top: 2.4rem;
}
