/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: $text;
	line-height: 1.5;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	border: none;
	color: $text;
	display: block;
	padding: 0px 24px;
	padding: 0rem 2.4rem;
	position: relative;
	font-size: 18px;
  @include font-stack-headings(0);
	font-weight: 600;
  @include break(mama-shark) {
	  padding: 0 15px;
	  padding: 0 1.5rem;
  }
  
  @include break(teen-shark) {
	  padding: 0 10px;
	  padding: 0 1rem;
	  font-size: 16px;
	  font-size: 1.6rem;
  }

}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: $blue;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #999;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: none;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px 20px;
	padding: 1.6rem 2rem;
	position: relative;
	width: 200px;

}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 28px 0;
	padding: 2.8rem 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
	margin-left: 4.8rem;
}

.genesis-nav-menu > .search {
	padding: 14px 0 0;
	padding: 1.4rem 0 0;
}

/* Site Header Navigation
--------------------------------------------- */
.site-header .genesis-nav-menu {
  width: auto;
  float: right;
  /* Dropdown styling.
  @include break(teen-shark) {
    display: none;
    .navopen & {
      display: block;
      clear: both;
      width: 100%;
      li, a {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
        clear: both;
      }
      a {
        padding: 8px 0;
      }
    }
  }
  */
  @include break(teen-shark) {
    float: none;
    text-align: center;
    .home-link {
      display: none !important;
    }
  }
  li:last-child a {
    padding-right: 0;
  }
  
}

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #333;
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a {
	color: #fff;
}

.nav-primary .sub-menu a:hover {
	color: #333;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: #fff;
}

/*.navlist {
  margin-top: 8px;
  font-size: 35px;
  font-size: 3.5rem;
  display: none;
  position: absolute;
  right: 0;
  top: 18px;
  cursor: pointer;
  @include break(teen-shark) {
    display: block;
  }
  .navopen & {
    color: $blue;
  }

}
*/
 
.exclude-nav {
  .genesis-nav-menu li:not(.home-link) {
    display: none !important;
    visibility: hidden !important;
  }
}

/* Pagination Navigation
--------------------------------------------- */

/*.pagination-previous, .pagination-next {
	a {
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	color: #fff !important;
	}
} */