 .use {
    width: 325px;
    margin: 0 0 30px;
  }

.post-type-archive-photo, .tax-use, .tax-height, .tax-color, .tax-length {
  .photo {
    position: relative;
    &:hover h2 a {
        background: white;
      }
  }
  
  img {
    width: 100%;
    margin: 0 0 5px;
  }
  .entry-meta {
    display: none;
  }
  .entry-content {
    padding: 0;
    p {
      margin: 0;
      padding: 0;
    }
  }
  h2 {
    position: absolute;
    line-height: 1;
    bottom: 10px;
    width: 100%;
    z-index: 10000;
    a {
      display: block;
      font-size: 20px;
      font-size: 2rem;
      line-height: 1;
      background: rgba(white, .8);
      text-align: center;
      padding: 10px;
    }
  }
  .more-link {
    clear: both;
    display: block;
  }
  
  .before-after .entry-content a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &::before {
      content: url('../images/svg/beforeafter.svg');
      display: block;
      z-index: 10000;
      position: absolute;
      bottom: 10px;
      right: 10px;
      height: 30px;
      width: 30px;
    }
  }
  
  .beforeafter {
    float: right;
    @include break(child-shark) {
      float:left;
      margin-bottom: 15px;
    }
  }
}

/*.single-photo {
  .entry-content img {
    width: 100%;
  }
}*/