.page-template-template-product-php {
  .storage {
    width: 600px;
    margin: 0 auto;
    @include break(teen-shark) {
      width: 100%;
    }
    p {
      font-size: 20px;
      font-size: 2rem;
      margin-top: 20px;
      width: 480px;
      max-width: 80%;
      text-align: left;
      @include break(teen-shark) {
        clear: both;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        float: none;
      }
    }
    .box-module {
      @include break(teen-shark) {
        float: none;
        margin: 0 auto;
        height: 85px;
      }
    }
  }
  
  .information {
    margin: 0;
    
  }
  .entry-content h2, .entry-content h2 a {
    font-size: 24px;
    font-size: 2.4rem;
    margin: 10px 0 0;
  }
  
  .entry-content ul {
    margin-left: 20px;
  }
  
  .features a {
    color: $text;
    &:hover {
      color: $blue;
    }
  }
  
  
  #showcolors {
    cursor: pointer;
    color: $blue;
  }
    
  .color-select {
    position: fixed;
    background: rgba(black, .5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    display: none;
    &.open {
      position: static;
      background: none;
      top: auto;
      left: auto;
      display: block;
      margin-top: 10px;
      margin-top: 1rem;
      .swatch {
        width: 60px;
      }
    }
    @include break(child-shark) {
      position: absolute;
    }
    
    h3 {
      text-align: center;
      font-size: 30px;
      font-size: 3rem;
    }
    .wrap {
      position: fixed;
      background: white;
      top: 10%;
      left: 10%;
      width: 80%;
      padding: 30px;
      box-shadow: 0 0 8px rgba(black, .9);
      @include break(child-shark) {
        position: absolute;
        width: 90%;
        left: 5%;
        top: 2%;
        li {
          width: 50%;
          margin: 0;
        }
      }
      
    }
  }
  .close-colors {
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 30px;
    cursor: pointer;
    color: black;
  }
  
  .recommended {
    border-top: 1px solid $border;
    padding-top: 30px;
    h2 {
      color: $ltblue;
      margin-bottom: 0;
    }
    img {
      width: 100%;
    }
    .recommend {
      text-align: center;
    }
    a {
      color: $text;
      font-size: 18px;
      font-size: 1.8rem;
    }
  }
}