.post-type-archive-review {

/*
  .content {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 30px;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 30px;
       -moz-column-gap: 3rem;
            column-gap: 30px;
            column-gap: 3rem;
    @include break(teen-shark) {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
    }
  }
*/
  
  .review {
    //display: inline-block;
    //width: 48%;
    //margin-right: 1%;
    margin-bottom: 20px;
  }
  
  .entry-content {
    padding: 0 0 20px;
    padding: 0 0 2rem;
    margin: 0 0 20px;
    margin: 0 0 2rem;
    border-bottom: 1px solid $border;
  }
  
  h2 a {
    font-size: 24px;
    font-size: 2.4rem;
  }
  
  dt {
    font-weight: 700;
  }
  
  dl {

  }
  
  .reviewer {
    font-weight: 500;
  }
  

  /*.review {
    float: left;
    margin-left: 2.564102564102564%;
    width: 48.717948717948715%;
    &:nth-of-type(2n + 1), &:first-child {
      clear: both;
      margin: 0;
    }
      }*/
}