/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	color: #999;
	
	.widget_categories, .widget_nav_menu {
  	ul {
  	  border: 1px solid $border;
  	  border-top: none;
  	  background: #F7F7F7;
  	  li {
  	    padding: 0;
  	    margin: 0;
  	    &:nth-child(odd) {
    	    background: #eaeaea;
  	    }
  	    a {
    	  padding: 7px 10px 7px 25px;
    	  display: block;
    	  color: $text;
    	  font-size: 18px;
    	  &:hover {
      	  background: #8c8c8c;
      	  color: white;
    	  }
        }
      }
  	}
  	.widget-title {
    	background: $text;
    	border-left: 10px solid $green;
    	padding: 15px;
    	margin: 0;
    	color: white;
    	text-transform: none;
    	font-size: 20px;
    	font-size: 2rem;
  	}
	}
	
	.widget_text {
  	text-align: center;
  	.icon {
    	width: 100px;
    	height: 100px;
  	}
	}
}

.sidebar p:last-child {
	margin-bottom: 0;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.sidebar .enews-widget {
	background-color: #333;
}

body.dealersf #gform_widget-2 {
	display: none !important;
	visibility: hidden !important;
}
