.page-template-template-sizes-colors-php {
  .site-header {
    margin-bottom: 0;
  }  
  .breadcrumb {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    > span > span:last-child:after {
      display: none;
    }
  }
  .site-container {
    overflow-x: hidden;
  }
  .screen-canvas, .customize, .color-select {
    width: 100%;
    clear: both;
    display: block;
    overflow: visible;
    margin-bottom: 40px;
  }
  .color-select {
	margin-top: -60px;  
  }
  .screen-canvas {
    padding: 20px 0 20px;
    position: relative;
    .wrap {
      @include break(papa-shark) {
        width: 100%;
      }
    }
    h2 {
      padding: 0 0 0 30px;
      font-size: 13px;
      font-size: 1.3rem;
      position: relative;
      //float: left;
      &:before {
        content: "1";
        font-size: 49px !important;
        position: absolute;
        left: 0;
        top: -15px;
      }
      &.view-colors {        
        clear: both;
        cursor: pointer;
        float: left;
        span {
          width: auto;
        }
        &:before {
          content: "3";
          font-size: 46px;
        }
      }
      .swatch {
        top: -9px;
      }
      .arrow {
        color: white;
        text-shadow: 0 0 8px rgba(black, .5);
        text-align: center;
        font-size: 35px;
        display: block;
        line-height: 65px;
      }
      .icon-arrow-up {
        line-height: 63px;
      }
      span {
        font-size: 17px;
        font-size: 1.7rem;
        clear: both;
        display: block;
      }
    }
  }
  
  h2.request {
    padding: 10px;
    margin:  10px 0 0 30px;
    text-transform: none;
    float: left;
    clear: left;
    border-radius: 5px;

    border: 1px solid darken($blue, 20);
    text-shadow: 1px 1px 1px rgba(black, .5);
    a {
      color: white;
          font-size: 20px !important;
    }
    &:before {
      left: -30px;
      top: -5px;
      content: "4";
      font-size: 46px !important;
      color: $text;
      text-shadow: none;
    }
  }
  
  ul {
    list-style-type: none;
  }
  
  h1 {
    text-align: center;
  }
  
  .height-select {
    float: left;
    margin-top: 10px;
    h2 {
      margin-top: 10px;
      }
    ul {
      border-right: 2px solid $border;
    }
    li {
      position: relative;
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
      @include break(grandpa-shark) {
        line-height: 1.2;
    	}
      &:after {
        content: "";
        display: block;
        background: white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        right: -8px;
        z-index: 2000;
        top: 7px;
        border: 2px solid $border;
        @include break(grandpa-shark) {
          top: 0;
        }
      }
      &.active:after {
        background: $blue;
      }
    }
    #five {
      margin-top: 5px;
    }
    #four {
      margin-top: 7px;
    }
  }
  
  .length-select {
    clear: both;
    border-top: 2px solid $border;
    margin-left: 0px;
    
    h2 {
      float: left;
      margin: -48px 0 0;
      &:before {
        content: "2";
      }
    }
    
    ul {
      float: right;
      padding: 15px 0 0;
      z-index: 100;
      position: relative;
    }
    
    li {
      display: inline-block;
      margin-right: 102px;
      position: relative;
      &:after {
        content: "";
        display: block;
        background: white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        z-index: 2000;
        top: -23px;
        border: 2px solid $border;
      }
      &.active:after {
        background: $blue;
      }
      &#closed {
        margin-right: 36px;
         @include break(grandpa-shark) {
        	margin-right: 20px;
      	}
        &:after {
          border-radius: 0;
        }
      }
      &#five_nine {
        margin-right: 114px;
         @include break(grandpa-shark) {
        	margin-right: 81px;
      	}
      }
      &#nine_five {
        margin-right: 108px;
         @include break(grandpa-shark) {
        	margin-right: 80px;
      	}
      }
      &#thirteen_one {
        margin-right: 104px;
         @include break(grandpa-shark) {
        	margin-right: 80px;
      	}
      }
      &#sixteen_nine {
        margin-right: 98px;
         @include break(grandpa-shark) {
        	margin-right: 75px;
      	}
      }
      &#twenty_five {
        margin-right: 101px;
         @include break(grandpa-shark) {
        	margin-right: 75px;
      	}
      }
      &#twentyfour_one {
        margin-right: 23px;
         @include break(grandpa-shark) {
        	margin-right: 15px;
      	}
      }
    }
  }
  
  .screen {
  	display: block;
  	overflow: hidden;
  	height: 390px;
  	position: relative;
  	float: right;
  	width: 1000px;
  	margin: -22px 0 10px;
  	@include break(grandpa-shark) {
    	width: 820px;
    	height: 328px;
  	}
  	@include break(papa-shark) {
    	width: 750px;
    	height: 268px;
    	margin: 0 auto 20px;
    	float: none;
  	}
  	@include break(tablet-shark) {
    	width: 300px;
    	height: 109px;
  	}
  }
  
  .panel {
  	width: 142px;
  	height: 365px;
  	display: block;
  	float: left;
  	background: red;
  	position:absolute;
  	bottom: 0px;
  	left: auto;
    opacity: 1;
  	transition: height .5s ease-in-out, right .7s ease-in-out;
  	@include break(grandpa-shark) {
    	height: 298px;
  	}
  	@include break(papa-shark) {
    	height: 273px;
  	}
  	@include break(tablet-shark) {
    	height: 109px;
  	}
    img {
    	 position: absolute;
    	 &.lower {
         bottom: 0;
    	 }
    	 &.upper {
      	 top: 0;
    	 }
    }
  }
  
  .model {
    position: absolute;
    bottom: 0;
    left: 13px;
    z-index: 15;
    width: 112px;
    @include break(grandpa-shark) {
    	width: 89px;
  	}
  	@include break(papa-shark) {
    	width: 81px;
  	}
  	@include break(tablet-shark) {
    	width: 33px;
    	left: 7px;
    	bottom: -4px;
  	}
  }
  
  a.zoom {
    z-index: 20;
    position: absolute;
    bottom: 70px;
    left: 120px;
    color: white;
    text-shadow: 0 0 8px rgba(black, .7);
    @include break(tablet-shark) {
    	bottom: 10px;
    	left: 35px;
  	}
  }
  .one {
  	left: 0px;
  	width: 112px;
  	z-index: 10;
    @include break(grandpa-shark) {
    	width: 92px;
  	}
  	@include break(papa-shark) {
    	width: 84px;
  	}
  	@include break(tablet-shark) {
    	width: 34px;
  	}

  }
  
  .two {
  	width: 888px;
  	right: 0;
  	left: auto;
  	z-index: 1;
  	@include break(grandpa-shark) {
    	width: 728px;
  	}
  	@include break(papa-shark) {
    	width: 666px;
  	}
  	@include break(tablet-shark) {
    	width: 266px;
  	}
  }
  /* height */
  [data-height="eight"] .panel {
  	height: 365px;
  	@include break(grandpa-shark) {
    	height: 298px;
  	}
  	@include break(papa-shark) {
    	height: 273px;
  	}
  	@include break(tablet-shark) {
    	height: 109px;
  	}
  }
  [data-height="seven_four"] .panel {
  	height: 338px;
  	@include break(grandpa-shark) {
    	height: 285px;
  	}
  	@include break(papa-shark) {
    	height: 261px;
  	}
  	@include break(tablet-shark) {
      height: 105px;
    }
  }
  [data-height="six_eight"] .panel {
  	height: 314px;
  	@include break(grandpa-shark) {
    	height: 270px;
  	}
  	@include break(papa-shark) {
    	height: 250px;
  	}
  	@include break(tablet-shark) {
      height: 100px;
    }
  }
  [data-height="six"] .panel {
  	height: 288px;
  	@include break(grandpa-shark) {
    	height: 250px;
  	}
  	@include break(papa-shark) {
    	height: 232px;
  	}
  	@include break(tablet-shark) {
      height: 94px;
    }
  }
  [data-height="five"] .panel {
  	height: 251px;
  	@include break(grandpa-shark) {
    	height: 222px;
  	}
  	@include break(papa-shark) {
    	height: 200px;
  	}
  	@include break(tablet-shark) {
      height: 80px;
    }
  }
  [data-height="four"] .panel {
  	height: 220px;
  	@include break(grandpa-shark) {
    	height: 192px;
  	}
  	@include break(papa-shark) {
    	height: 171px;
  	}
  	@include break(tablet-shark) {
      height: 69px;
    }
  }
  
  /* color */
  .panel{
  	background: url(../images/sizes-colors/sc-color-swatches.jpg) repeat-x;
  }
  
  /* length */
  [data-length="twenty_five"] .two {
      right: 143px;
      @include break(grandpa-shark) {
        right: 117px;
    	}
    	@include break(papa-shark) {
        right: 107px;
    	}
    	@include break(tablet-shark) {
        right: 43px;
    	}
  }
  
  [data-length="sixteen_nine"] .two {
      right: 285px;
      @include break(grandpa-shark) {
        right: 234px;
    	}
    	@include break(papa-shark) {
        right: 214px;
    	}
    	@include break(tablet-shark) {
        right: 85px;
    	}
  }
  
  [data-length="thirteen_one"] .two {
      right: 427px;
      @include break(grandpa-shark) {
        right: 349px;
    	}
    	@include break(papa-shark) {
        right: 320px;
    	}
    	@include break(tablet-shark) {
        right: 128px;
    	}
  }
  
  [data-length="nine_five"] .two {
      right: 568px;
      @include break(grandpa-shark) {
        right: 466px;
    	}
    	@include break(papa-shark) {
        right: 427px;
    	}
    	@include break(tablet-shark) {
        right: 170px;
    	}
  }
  
  [data-length="five_nine"] .two {
      right: 711px;
      @include break(grandpa-shark) {
        right: 582px;
    	}
    	@include break(papa-shark) {
        right: 533px;
    	}
    	@include break(tablet-shark) {
        right: 213px;
    	}
  }
  [data-length="closed"] .two {
      right: 840px;
      @include break(grandpa-shark) {
        right: 688px;
    	}
    	@include break(papa-shark) {
        right: 631px;
    	}
    	@include break(tablet-shark) {
        right: 251px;
    	}
  }
  
  li {
  	cursor: pointer;
  }
  
  ul li.active {
  	color: $blue;
  	font-weight: bold;
  }
  
    
  .upgraded-fabrics {
    margin: 30px 0 0 -30px;
    padding: 30px;
    border: 1px solid $orange;
    width: auto;
    float: left;
    .upgrade {
      color: $orange;
    }
    ul {
      margin-bottom: 30px;
    }
  }
  
  .storage {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin: 0 0 0 -180px;
  }
    
}

.storage {
  width: 360px;
  p {
    float: right;
    width: 230px;
    margin: 15px 0 0;
  }
  .box-module {
    float: left;
    width: 120px;
    position: relative;
  }
  .box {
    width: 90px;
    height: 60px;
    border: 2px solid $blue;
    position: absolute;
    top:25px;
    left: 20px;
  }
  .two-feet {
    position: absolute;
    top: 0;
    left: 60px;
  }
  .three-feet {
    position: absolute;
    top: 42px;
    left: 0;
  }
}


.swatch {
  display: block;
  width: 70px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background: url(../images/sizes-colors/sc-color-swatches.jpg) repeat-x;
  margin: 0 auto 8px;
  transition: box-shadow .3s linear;
  @include break(tablet-shark) {
    width: 80%;
    border-radius: 3px;
    height: 40px;
  }
}

.view-colors .swatch {
  box-shadow: 4px 4px 4px rgba(black, .4) inset;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 100px;
  width: 60px;
  height: 60px;
}

/* color select */
.color-select {
  overflow: visible;
  float: right;
  clear: none !important;
  padding-top: 10px;
  .page-template-template-sizes-colors-php & {
    width: 80%;
     @include break(grandpa-shark) {
        width: 76%;
      }
  }
  h2 {
    font-size: 25px !important;
    padding: 0 !important;
    @include break(tablet-shark) {
      clear: both;
      width: 100%;
    }
    &:before {
      display: none;
    }
    span {
      font-size: 16px;
      display: inline !important;
      padding: 0 !important;
      @include break(tablet-shark) {
        display: block !important;
       }
    }
  }
  .first {
    border-right: 1px solid $ltgrey;
  }
  
  li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
    margin: 0 15px 0 0;
    padding: 0 0 20px;
    font-size: 13px !important;
    position: relative;
    transition: color .3s linear;
    @include break(tablet-shark) {
      width: 33.333%;
      margin: 0;
      float: left;
    }
    span {
      position: absolute;
      text-align: center;
      display: block;
      width: 100%;
      font-weight:normal;  
      text-transform: uppercase;
      color: $lttext;
      padding: 0;
      margin: -8px 0 0;
    }
    &.active {
      color:  $red;
      i {
        box-shadow: 4px 4px 4px rgba(black, .4) inset;
      }
    }
  }
}

.panel, i {
  [data-color="db"] & {
    background-position: 0px 0px !important;
  }
  
  [data-color="dm"] & {
    background-position: 0px -350px !important;
  }
  
  [data-color="dg"] & {
    background-position: 0px -700px !important;
  }
  
  [data-color="do"] & {
    background-position: 0px -1050px !important;
  }
  
  [data-color="dw"] & {
    background-position: 0px -1400px !important;
  }
  
  [data-color="dn"] & {
    background-position: 0px -1750px !important;
  }
  
  [data-color="ds"] & {
    background-position: 0px -2100px !important;
  }
  
  [data-color="dr"] & {
    background-position: 0px -2450px !important;
  }
  
  [data-color="dy"] & {
    background-position: 0px -2800px !important;
  }
  
  [data-color="dx"] & {
    background-position: 0px -3150px !important;
  }
  
  [data-color="dt"] & {
    background-position: 0px -3500px !important;
  }
  
  
  // Excel
  [data-color="eb"] & {
    background-position: 0px -3850px !important;
  }
  
  [data-color="em"] & {
    background-position: 0px -4200px !important;
  }
  
  [data-color="eg"] & {
    background-position: 0px -4550px !important;
  }
  
  [data-color="eo"] & {
    background-position: 0px -4900px !important;
  }
  
  [data-color="ew"] & {
    background-position: 0px -5250px !important;
  }
  
  [data-color="en"] & {
    background-position: 0px -5600px !important;
  }
  
  
  // Royal
  [data-color="vb"] & {
    background-position: 0px -5950px !important;
  }
  
  [data-color="vm"] & {
    background-position: 0px -6300px !important;
  }
  
  [data-color="vg"] & {
    background-position: 0px -6650px !important;
  }
  
  [data-color="vo"] & {
    background-position: 0px -7000px !important;
  }
  
  [data-color="vw"] & {
    background-position: 0px -7350px !important;
  }
  
  [data-color="vn"] & {
    background-position: 0px -7700px !important;
  }
  
  [data-color="vx"] & {
    background-position: 0px -8050px !important;
  }
  
  [data-color="vt"] & {
    background-position: 0px -8400px !important;
  }
  
  
  // Select
  [data-color="sb"] & {
    background-position: 0px -8750px !important;
  }
  
  [data-color="sm"] & {
    background-position: 0px -9100px !important;
  }
  
  [data-color="sg"] & {
    background-position: 0px -9450px !important;
  }
  
  [data-color="so"] & {
    background-position: 0px -9800px !important;
  }
  
  [data-color="sw"] & {
    background-position: 0px -10150px !important;
  }
  
  [data-color="sn"] & {
    background-position: 0px -10500px !important;
  }
  
  [data-color="sx"] &,[data-color="wx"] &  {
    background-position: 0px -10850px !important;
  }
  
  
  // Pinnacle
  [data-color="pb"] & {
    background-position: 0px -11200px !important;
  }
  
  [data-color="pm"] & {
    background-position: 0px -11550px !important;
  }
  
  [data-color="pg"] & {
    background-position: 0px -11900px !important;
  }
  
  [data-color="po"] & {
    background-position: 0px -12250px !important;
  }
  
  [data-color="pw"] & {
    background-position: 0px -12600px !important;
  }
  
  [data-color="pn"] & {
    background-position: 0px -12950px !important;
  }
  
  [data-color="px"] & {
    background-position: 0px -13300px !important;
  }
  
  
  // Light Duty
  [data-color="bb"] & { // Mist Blue
    background-position: 0px -13650px !important;
  }
  
  [data-color="bg"] & { // Light Grey 
    background-position: 0px -14000px !important;
  }
  
  [data-color="bo"] & { // Tan
    background-position: 0px -14350px !important;
  }
}

#sb-container {
  z-index: 1000000000 !important;
}


.scotchgard {
  text-align: center;
  clear: left;
  float: left;
  margin-top: 200px;
  width: 15%;
  @include break(grandpa-shark) {
    width: 22%;
  }
  .page-id-4673 & {
    display: none;
  }
}

img.circle {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $border;
}

#otherLengthBox {
  display: none;
}

.show-other {
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

#roomdividerCaption, #otherLengthBox {
  display: none;
  text-align: center;
  width: 500px;
  background: rgba(white, .8);
  padding: 10px;
  box-shadow: 0 0 8px rgba(black, .8);
  position: absolute;
  left: 50%;
  margin-left: -250px;
  z-index: 100;
}

#otherLengthBox {
  width: 250px;
  margin-left: -125px;
  text-align: left;
  top: 120px;
}

.close-other {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

@include break(papa-shark) {
  .page-template-template-sizes-colors-php .screen-canvas {
    h1.entry-title {
      font-size: 26px;
      font-size: 2.6rem;
    }
    h2 {
      padding: 0;
      font-size: 16px;
      span {
        font-size: 16px;
        clear: none;
        display: inline-block;
      }
      &:before {
        display: none;
        content: '';
      }
    }
    // Reset everything so we can build the selection style.
    .height-select, .length-select, h2.view-colors {
      width: 33%;
      margin: 0 0 30px 0;
      float: left;
      clear: none;
      border: none;
      padding: 0 20px;
      ul, h2, li {
        display: block;
        border: none;
        width: 100%;
        margin: 0 !important;
        &:after {
          display: none;
        }
      }
    }
    
    // Make the changes
    .height-select, .length-select, h2.view-colors {
      position: relative;
      overflow: hidden;
      @include break(tablet-shark) {
        width: 100%;
        margin: 0 auto 30px;
        float: none;
        clear: both;
      }
      ul {
        padding: 0;
        position: static;
      }
      li, .swatch {
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 1.625;
        position: static;
        border-radius: 0px !important;
        padding: 10px !important;
        height: auto !important;
        .arrow {
          line-height: 1 !important
        }
        &.inactive {
          //display: none !important;
        }
      }
      li {
        background: $ltgrey;
        width: 50%;
        display: inline-block;
        float: left;
        border-top: 1px solid white;
        border-right: 1px solid white;
        @include break(tablet-shark) {
          width: 33.3333%;
          line-height: 1;
          padding: 10px !important;
        }
        &.active {
          background: $blue;
          color: white;
        }
        &#closed, &.show-other {
          width: 100%;
        }
      }
      .swatch {
        padding: 8px !important;
      }
         }
    
    .request-wrapper {
      padding: 20px;
      width: 100%;
      z-index: 100000000001;
      &.stick {
        position: fixed;
        bottom: 0;
        left: 0;
        background: white;
        box-shadow: 0 -3px 3px rgba(black, .2);
        z-index: 10;
        @include break(child-shark) {
          position: static;
          box-shadow: none;
        }
        @include break(infant-shark) {
          position: fixed;
          box-shadow: 0 -3px 3px rgba(black, .2);
        }
      }
    }
    h2.request {
      display: block;
      text-align: center;
      margin: 0 auto 0;
      float: none;
      &.bottom {
        display: none;
      }
    }
    .color-select {
      width: 100%;
      padding: 30px 2.5%;
    }
        
    #otherLengthBox {
      top: 80px;
      z-index: 100000;
      @include break(tablet-shark) {
        top: 65px;
      }
    }
    #roomdividerCaption {
      background: white;
    }
    
    .screen-wrapper.stick {
      background: white;
      position: fixed;
      top: 0px;
      z-index: 1000000;
      box-shadow: 0 3px 3px rgba(black, .2);
      width: 100%;
      left: 0;
      padding: 10px 0 0;
      @include break(child-shark) {
        position: static;
        box-shadow: none;
      }
      @include break(infant-shark) {
        position: fixed;
        box-shadow: 0 3px 3px rgba(black, .2);
      }
    }
    .placeholder.active {
      height: 268px; 
      display: block;
      @include break(tablet-shark) {
        height: 109px;
      }
     @include break(child-shark) {
        display: none;
      }
      @include break(infant-shark) {
        display: block;
      }
    }
    
    .scotchgard {
      padding: 30px 0 0;
      margin: 0 auto 0;
      float: none;
      width: 100%;
    }
  }
}

/* Version 1
@include break(papa-shark) {
  .page-template-template-sizes-colors-php .screen-canvas {
    h1.entry-title {
      font-size: 26px;
      font-size: 2.6rem;
    }
    // Reset everything so we can build the selection style.
    .height-select, .length-select, h2.view-colors {
      width: 33%;
      margin: 0;
      float: left;
      clear: none;
      border: none;

      ul, h2, li {
        display: block;
        border: none;
        width: 100%;
        margin: 0 !important;
        &:after {
          display: none;
        }
      }
    }
    
    .height-select {
      padding-left: 2.5%;
    }
    .height-select, .length-select {
      padding-right: 20px;
      @include break(tablet-shark) {
        padding: 0;
      }
    }
    
    // Make the changes
    .height-select, .length-select, h2.view-colors {
      position: relative;
      @include break(tablet-shark) {
        width: 90%;
        margin: 0 auto 30px;
        float: none;
        clear: both;
      }
      ul {
        padding: 0;
        position: static;
      }
      li, .swatch {
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 1.625;
        position: static;
        border-radius: 0px !important;
        padding: 10px !important;
        height: auto !important;
        border-radius: 3px !important;
        .arrow {
          line-height: 1 !important
        }
         &.inactive {
          display: none !important;
        }
      }
      li {
        background: $ltgrey;
        border: 1px solid $border;
        &.active:after {
          font-family: 'entypo';
        	speak: none;
        	font-style: normal;
        	font-weight: normal;
        	font-variant: normal;
        	text-transform: none;
        	line-height: 1;
        	-webkit-font-smoothing: antialiased;
        	content: "\e0c8";
        	display: block;
        	background: none;
        	border: none;
        	position: static;
        	display: inline-block;
        	float: right;
        	padding: 5px 10px 0 0;
        	color: $text !important;
        }
      }
      .swatch {
        padding: 8px !important;
        margin-left: -30px;
      }
      ul.open {
        background: white;
        box-shadow: 0 0 8px rgba(black, .5);
        position: absolute;
        border-radius: 5px;
        li {
          text-align: left;
          display: block !important;
          width: 100%;
          font-size: 18px;
          padding: 3px 10px;
          border-bottom: 1px solid $border;
          background: white;
          border-radius: 0px;
          &.active {
            background: $ltgrey;
            color: $text;
            &:after {
              display: none;
            }
          }
          &:hover {
            background: $blue;
            color: white;
          }
        }
      }
    }
    
    h2.request {
      bottom: -56px;
      left: 2.5%;
      width: 88.5% !important;
      position: absolute;
      text-align: center;
      &.stick {
        position: fixed;
        bottom: 50px;
        width: 100%;
        left: 0;
        padding: 10px;
        z-index: 100000;
      }
    }
    .color-select {
      width: 100%;
      padding: 30px 2.5%;
    }
        
    #otherLengthBox {
      bottom: 8px;
    }
    #roomdividerCaption {
      bottom: 50px;
      background: white;
    }
    
    .screen-wrapper.stick {
      background: white;
      position: fixed;
      top: 0px;
      z-index: 1000000;
      box-shadow: 0 8px 8px rgba(black, .3);
      width: 100%;
      left: 0;
    }
    .placeholder.active {
      height: 268px; 
      display: block;
    }
    
    .scotchgard {
      padding: 30px 0 0;
      margin: 0 auto 0;
      float: none;
    }
  }
}

*/