/* ------------------------------------------------------------
NUMBER OF COLUMNS: Adjust .slickmap li to set the number
of columns required in your site map. The default is 
4 columns (25%). 5 columns would be 20%, 6 columns would 
be 16.6%, etc. 
------------------------------------------------------------ */
.slickmap {
  width: 100%;
  clear: both;
  margin: 0;
  padding: 20px 0 0;
  }
.slickmap li {
	width:20%;
	list-style: none !important;
}

.slickmap li ul li {
	width:100% !important;
}

.slickmap.col1 li { width:99.9%; }
.slickmap.col2 li { width:50.0%; }
.slickmap.col3 li { width:33.3%; }
.slickmap.col4 li { width:25.0%; }
.slickmap.col5 li { width:20.0%; }
.slickmap.col6 li { width:16.6%; }
.slickmap.col7 li { width:14.2%; }
.slickmap.col8 li { width:12.5%; }
.slickmap.col9 li { width:11.1%; }
.slickmap.col10 li { width:10.0%; }

/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

.slickmap .home {
	display: block;
	float: none;
	background: #ffffff url('../images/slickmap/L1-left.png') center bottom no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0;
}

.slickmap .fakehome > a {
  display: none;
}

.slickmap .fakehome ul > li {
  //background-position-x: 39.5%;
}
.slickmap li {
	float: left;
	background: url('../images/slickmap/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
}
.slickmap li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;	
	background: #c3eafb url('../images/slickmap/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
.slickmap li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}
.slickmap li:last-child {
	background: url('../images/slickmap/L1-right.png') center top no-repeat;
}
/*.slickmap a:link:before,
.slickmap a:visited:before {
	content: " "attr(href)" ";
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.slickmap li a:link:before,
.slickmap li a:visited:before {
	color: #78a9c0;
}
*/

/* --------	Second Level --------- */

.slickmap li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('../images/slickmap/vertical-line.png') center bottom repeat-y;
}
.slickmap li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
.slickmap li li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
.slickmap li li:first-child {
	padding-top: 30px;
}
.slickmap li li:last-child {
	background: url('../images/slickmap/vertical-line.png') center bottom repeat-y;
}
.slickmap li li a:link:before,
.slickmap li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

.slickmap li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: #ffffff url('../images/slickmap/L3-ul-top.png') center top no-repeat;
}
.slickmap li li li {
	background: url('../images/slickmap/L3-center.png') left center no-repeat;
	padding: 5px 0;
}
.slickmap li li li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 12px;
	padding: 5px 0;
	width: 80%;
	float: right;
}
.slickmap li li li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
.slickmap li li li:first-child {
	padding: 15px 0 5px 0;
	background: url('../images/slickmap/L3-li-top.png') left center no-repeat;
}
.slickmap li li li:last-child {
	background: url('../images/slickmap/L3-bottom.png') left center no-repeat;
}
.slickmap li li li a:link:before,
.slickmap li li li a:visited:before {
	color: #ccae14;
	font-size: 9px;
}


/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */

#utilityNav {
	float: right;
	max-width: 50%;
	margin-right: 10px;
}
#utilityNav li {
	float: left;
	margin-bottom: 10px;
}
#utilityNav li a {
	margin: 0 10px 0 0;
	padding: 5px 10px;
	display: block;	
	border: 2px solid #e3ca4b;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #fff7aa url('../images/slickmap/white-highlight.png') top left repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#utilityNav li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
#utilityNav li a:link:before,
#utilityNav li a:visited:before {
	color: #ccae14;
	font-size: 9px;
	margin-bottom: 3px;
}
