.sample-video {
	background: $dkgrey;
	color: white;
	.wrap {
		padding: 20px 0 0;
		@include sitewidth();
	}
	h1, p, a {
		color: white;
	}
}

.entry-items {
	.wrap {
		@include sitewidth();
		
		> div {
			margin-bottom: 0;
			padding: 25px 15px;
			@include break(teen-shark) {
				width: 50%;
			}
			@include break(baby-shark) {
				width: 100%;
			}
		}
	}
	h2 a {
	  margin-top: 20px;
	  margin-top: 2rem;
  	font-size: 20px;
  	font-size: 2rem;
  	i {
    	font-size: 20px;
    	font-size: 2rem;
    	
  	}
	}
	.entry-details {
		background: #dbdbdc;
		height: 100%;
		display: block;
		padding: 10px;
		h2 {
			font-size: 20px;
			font-weight: 500;
			margin: 20px 0 0;
			padding: 0;
			&:first-child {
				margin: 0;
			}
			&.last {
				margin: 20px 0;
			}
			span {
				font-weight: 100;
				font-size: 16px;
			}
		}
		.button-dark, .button {
			clear: both;
			width: 100%;
			text-align: center;
			margin: 0 0 20px;
		}
	}
}

.entry-heading {
	overflow: hidden;
	h1 {
		float: left;
		vertical-align: middle;
		line-height: 65px;
		padding: 0;
		margin: 0;
		font-size: 22px;
		@include break(teen-shark) {
			width: 100%;
			line-height: inherit;
			padding: 15px 0;
		}
	}
	
	a.download {
		width: 200px;
		text-align: center;
		background: #111111;
		display: block;
		margin: 0;
		float: right;
		padding: 20px 0;
		@include break(teen-shark) {
			float: left;
		}
		@include break(teen-shark) {
			float: none;
			width: 100%;
			text-align: center;
			clear: both;
		}

	}
	.share {
		float: right;
		margin-right: 20px;
		@include break(teen-shark) {
			float: left;
		}
		a {
			font-size: 30px;
			line-height: 65px;
			vertical-align: middle;
			margin-left: 15px;
		}
	}
}

#not-logged-in {
	display: none;
	opacity: 0;
	@include transition(opacity .4 linear);
	&.active {
		opacity: 1;
		z-index: 10000000;
		display: block;
		background: rgba(black, .4);
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		.wrap {
			position: fixed;
			top: 50%;
			left: 50%;
			margin-left: -150px;
			margin-top: -75px;
			width: 300px;
			background: white;
			padding: 20px;
			display: block;
			text-align: center;
			@include border-radius(5px);
			@include box-shadow(0 0 16px black);
		}
		a.logged-close {
			position: absolute;
			top: -10px;
			right: -10px;
			font-size: 40px;
			color: $blue;
		}
	}
}

.similar-items, .post-type-archive-videos, .tax-collections, .tax-video-tags {
	padding-right: 0 !important; 
	.video, .videos {
		//width: 33.333333%;
		float: left;
		//padding-right: 10px;
		/*
@include break(uncle-shark){
			width: 50%;
		}
		@include break(teen-shark){
			width: 100%;
		}
*/
		h3 a {
			font-size: 18px;
			color: #333;
		}
	}
}


.post-type-archive-videos, .tax-collections, .tax-video-tags, .similar-items {
	.videos, .video {
		//width: 25%;
		position: relative;
		//&:nth-of-type(4n + 1) {
  		//clear: both;
		//}
		h3 {
  		position: absolute;
  		z-index: 1000;
  		bottom: -5px;
  		width: 100%;
  		text-align: center;
  		margin: 0;
  		a {
    		background: rgba(white, .8);
    		display: block;
    		font-size: 18px;
    		font-size: 1.8rem;
    		padding: 6px 10px;
  		}
		}
		/*
@include break(uncle-shark){
			width: 33%;
		}
		@include break(teen-shark){
			width: 50%;
		}
		@include break(baby-shark){
			width: 100%;
		}
*/
	}
}

.similar-items {
  .video, .videos {
    width: 50%;
  }
}
.video-thumb {
	position: relative;
	display: block;

	span {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		top: 50%;
		left: 50%;
		margin-left: -20px;
		margin-top: -20px;
		z-index: 1;
		font-size: 40px;
		line-height: 40px;
		color: rgba(white, .6);
		text-shadow: 0 0 8px black;
	}
	&:hover {
		span {
			color: white;
		}
	}
}

#videoArchive {
	&.grid {
		.gridNo {
			display: none;
		}
	}
	
	&.list {
		.gridNo {
			display: block;
		}
		.gridYes {
			display: none;
		}
		.videos {
			width: 100%;
			clear: both;
			margin: 0 0 15px;
			padding: 0px 0px 15px;
			border-bottom: 1px solid $ltgrey;
		}
		.video-thumb, .description, .choose {
			width: 20%;
			float: left;
			margin-right: 1%;
			display: block;
			clear: none;
		}
		
		.description {
			width: 55%;
		}
		
		.choose {
			//width: 25%;
			text-align: right;
			float: right;
		}
	}
}