@import url('//fonts.googleapis.com/css?family=Oswald');

/*
	Theme Name: Dividers
	Theme URL: http://www.screenflex.com/
	Description: Dividers is a 2 or 3-column Widget-ready child theme based on StudioPress Genesis Theme created for the Genesis Theme Framework.
	Author: Scott Stawarz
	Author URI: http://www.octavity.com
	Version: 2.1
	
	Template: genesis
	Template Version: 1.7.1
	
	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
	
*/
/* Table of Contents

Brought in from the Genesis Theme as a standard default.

* Import Fonts
* Defaults
* Hyperlinks
* Body
* Wrap
* Header
* Image Header - Partial Width
* Image Header - Full Width
* Header / Primary / Secondary Navigation   
* Primary Navigation Extras
* Screenflex MegaMenu
* Secondary Menu Custmizations
* Inner
* Breadcrumb
* Taxonomy Description
* Content-Sidebar Wrap
* Content
* Column Classes
* Featured Post Grid
* Headlines
* Ordered / Unordered Lists
* Post Info
* Post Meta
* Author Box
* Sticky Posts
* Archive Page
* Post Icons
* Images
* Post Navigation
* Primary / Secondary Sidebars
* Dropdowns
* Featured Page / Post
* User Profile
* Buttons
* Search Form
* eNews & Updates Widget
* Calendar Widget
* Footer Widgets
* Footer
* Footer Navigation
* Front Page Footer Widgeted
* Comments
* Gravity Forms
* Screenflex Gravity Form Customizations 
* Screenflex Live Chat
* Screenflex Page Customizations
* Screenflex Value Statements 
* Screenflex Photo Gallery
* Screenflex Product Pages
* Screenflex Product Codes
* Screenflex Sizes
* Screenflex Buyer's Guide
* Screenflex Color Pages
* Screenflex Call to Action
* Responsive Design
*/
/* Import Fonts
------------------------------------------------------------ */
/* Defaults
------------------------------------------------------------ */
body,h1,h2,h2 a,h2 a:visited,h3,h4,h5,h6,p,select,textarea {
	color:#222;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:16px;
	font-weight:300;
	line-height:1.5625;
	margin:0;
	padding:0;
	text-decoration:none;
}

blockquote,input,select,textarea,.author-box,.sticky,.taxonomy-description,.wp-caption {
	background-color:#f5f5f5;
	border:1px solid #ddd;
}

input,label,select,textarea {
	color:#333;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:300;
}

li,ol,ul {
	margin:0;
	padding:0;
}

ol li {
	list-style-type:decimal;
}

a,a:visited {
	color:#0d72c7;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a img {
	border:none;
}

body {
	background-color:#d5d5d5;
}

::-moz-selection {
	background-color:#0d72c7;
	color:#fff;
}

::selection {
	background-color:#0d72c7;
	color:#fff;
}

#wrap {
	-moz-box-shadow:0 0 5px 5px #888;
	-webkit-box-shadow:0 0 5px 5px #888;
	box-shadow:0 0 5px 5px #888;
	margin:auto;
	margin-bottom:15px;
	width:960px;
	padding:0;
	position:relative;
	overflow:hidden;
	background:#eef5f8 url(/wp-content/uploads/2011/07/background-slice.png) repeat-x;
	min-height:800px;
	height:auto!important;
	_height:800px;
}

#wrap #header {
	margin:0 auto;
	min-height:82px;
	width:100%;
	border-top:1px solid #068EAE;
	border-bottom:2px solid #068EAE;
	background-color:#58585A!important;
	position:relative;
}

#title-area {
	float:left;
	overflow:hidden;
	padding:17px 0 0;
	width:400px;
}

#title {
	font-family:'Oswald',arial,serif;
	font-size:36px;
	line-height:1.25;
	margin:0;
	text-transform:uppercase;
}

#title a,#title a:hover {
	color:#333;
	padding:0 0 0 20px;
	text-decoration:none;
}

#description {
	font-size:14px;
	padding:0 0 0 20px;
}

#header .widget-area {
	float:right;
	padding:0 20px 0 0;
	width:222px;
	background-color:#58585A;
	text-align:center;
}

.header-image #title-area,.header-image #title,.header-image #title a {
	display:block;
	float:left;
	height:82px;
	overflow:hidden;
	padding:0;
	text-indent:-9999px;
	width:718px;
}

.header-image #description {
	display:block;
	overflow:hidden;
}

.header-full-width #title-area,.header-full-width #title,.header-full-width #title a {
	width:100%;
}

#nav {
	position:relative;
}

.menu-primary,#header .menu {
	background-color:#f5f5f5;
	clear:both;
	color:#333;
	font-size:14px;
	margin:0 auto;
	overflow:hidden;
	width:100%;
}

#header .menu {
	border:1px solid #ddd;
	box-sizing:border-box;
}

.menu-primary {
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
}

.menu-secondary {
	border-bottom:1px solid #ddd;
	border-top:none;
}

.menu-primary ul,.menu-secondary ul,#header .menu ul {
	float:left;
	width:100%;
}

.menu-primary li,.menu-secondary li,#header .menu li {
	float:left;
	list-style-type:none;
}

.menu-primary a,.menu-secondary a,#header .menu a {
	color:#333;
	display:block;
	padding:7px 15px 6px;
	position:relative;
	text-decoration:none;
}

.menu-primary li a:active,.menu-primary li a:hover,.menu-primary .current_page_item a,.menu-primary .current-cat a,.menu-primary .current-menu-item a,.menu-secondary li a:active,.menu-secondary li a:hover,.menu-secondary .current_page_item a,.menu-secondary .current-cat a,.menu-secondary .current-menu-item a,#header .menu li a:active,#header .menu li a:hover,#header .menu .current_page_item a,#header .menu .current-cat a,#header .menu .current-menu-item a {
	background-color:#fff;
	color:#333;
}

.menu-primary li li a,.menu-primary li li a:link,.menu-primary li li a:visited,.menu-secondary li li a,.menu-secondary li li a:link,.menu-secondary li li a:visited,#header .menu li li a,#header .menu li li a:link,#header .menu li li a:visited {
	background:none;
	background-color:#fff;
	border:1px solid #ddd;
	border-top:none;
	color:#333;
	font-size:12px;
	padding:9px 10px 8px;
	position:relative;
	text-transform:none;
/*width:138px;*/
}

.menu-primary li li a:active,.menu-primary li li a:hover,.menu-secondary li li a:active,.menu-secondary li li a:hover,#header .menu li li a:active,#header .menu li li a:hover {
	background-color:#f5f5f5;
	color:#333;
}

.menu-primary li ul,.menu-secondary li ul,#header .menu li ul {
	height:auto;
	left:-9999px;
	margin:0 0 0 -1px;
	position:absolute;
	width:160px;
	z-index:9999;
}

.menu-primary li ul a,.menu-secondary li ul a,#header .menu li ul a {
	width:140px;
}

.menu-primary li ul ul,.menu-secondary li ul ul,#header .menu li ul ul {
	margin:-36px 0 0 159px;
}

.menu li:hover ul ul,.menu li.sfHover ul ul {
	left:-9999px;
}

.menu li:hover,.menu li.sfHover {
	position:static;
}

ul.menu li:hover>ul,ul.menu li.sfHover ul,#header .menu li:hover>ul,#header .menu li.sfHover ul {
	left:auto;
}

.menu-primary li a.sf-with-ul,.menu-secondary li a.sf-with-ul,#header .menu li a.sf-with-ul {
	padding-right:25px;
}

.menu li a .sf-sub-indicator,.menu li li a .sf-sub-indicator,.menu li li li a .sf-sub-indicator {
	background:url(images/icon-plus-white.png) no-repeat;
	height:16px;
	position:absolute;
	right:0;
	text-indent:-9999px;
	top:10px;
	width:16px;
}

#subnav .current-menu-item .sf-sub-indicator {
	background:url(images/icon-plus.png) no-repeat;
}

#subnav .page-menu-label .sf-sub-indicator {
	background:url() no-repeat;
}

#wpadminbar li:hover ul ul {
	left:0;
}

.menu li.right {
	float:right;
	padding:7px 15px 6px;
}

.menu li.right a {
	background:none;
	border:none;
	color:#333;
	display:inline;
	text-decoration:none;
}

.menu li.right a:hover {
	color:#0d72c7;
	text-decoration:none;
}

.menu li.search {
	padding:0 10px;
}

.menu li.rss a {
	background:url(images/rss.png) no-repeat center left;
	margin:0 0 0 10px;
	padding:0 0 0 16px;
}

.menu li.twitter a {
	background:url(images/twitter-nav.png) no-repeat center left;
	padding:0 0 0 20px;
}

#megaMenu {
	border:none;
	background:#d6d7d9;
/* Old browsers */
	background:-moz-linear-gradient(top,#d6d7d9 0%,#fff 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d6d7d9),color-stop(100%,#fff));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#d6d7d9 0%,#fff 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#d6d7d9 0%,#fff 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#d6d7d9 0%,#fff 100%);
/* IE10+ */
	background:linear-gradient(to bottom,#d6d7d9 0%,#fff 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d7d9',endColorstr='#ffffff',GradientType=0);
/* IE6-9 */
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.9);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.9);
	box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.9);
}

#nav #megaMenu ul.megaMenu>li>a,#nav #megaMenu ul.megaMenu>li>span.um-anchoremulator {
	font-size:1.2em;
	color:#666;
	padding:.65em 2em;
	font-weight:400;
}

#megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu.sub-menu-1 {
	padding:0 1em;
}

#megaMenu.megaMenuHorizontal ul.megaMenu>li>a,#megaMenu.megaMenuHorizontal ul.megaMenu>li>span.um-anchoremulator {
	border-left:1px solid #222;
	-webkit-box-shadow:inset 1px 0 0 0 rgba(255,255,255,0.9);
	-moz-box-shadow:inset 1px 0 0 0 rgba(255,255,255,0.9);
	box-shadow:inset 1px 0 0 0 rgba(255,255,255,0.9);
}

#megaMenu.megaMenuVertical ul.megaMenu>li>a,#megaMenu.megaMenuVertical ul.megaMenu>li>span.um-anchoremulator {
	border-top:1px solid #222;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.9);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.9);
	box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.9);
}

#megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub>a,#megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub>span.um-anchoremulator,#megaMenu ul li.mega-with-sub>a,#megaMenu ul li.mega-with-sub>span.um-anchoremulator,#megaMenu ul li.ss-nav-menu-mega>a,#megaMenu ul li.ss-nav-menu-mega>span.um-anchoremulator {
	padding-right:20px;
}

#megaMenu ul.megaMenu>li>a span.wpmega-link-title,#megaMenu ul.megaMenu>li>span.um-anchoremulator span.wpmega-link-title {
	text-transform:none;
	text-shadow:0 -1px 1px transparent;
}

#megaMenu ul.megaMenu>li:hover>a,#megaMenu ul.megaMenu>li>a:hover,#megaMenu ul.megaMenu>li.megaHover>a,#megaMenu ul.megaMenu>li:hover>span.um-anchoremulator,#megaMenu ul.megaMenu>li>span.um-anchoremulator:hover,#megaMenu ul.megaMenu>li.megaHover>span.um-anchoremulator {
	color:#fff!important;
	border-bottom-color:transparent!important;
	background-color:#005c7e;
	background:-webkit-gradient(linear,left top,left bottom,from(#005c7e),to(#005c7e));
	background:-webkit-linear-gradient(top,#005c7e,#005c7e);
	background:-moz-linear-gradient(top,#005c7e,#005c7e);
	background:-ms-linear-gradient(top,#005c7e,#005c7e);
	background:-o-linear-gradient(top,#005c7e,#005c7e);
	-webkit-box-shadow:inset 1px 1px 0 0 rgba(255,255,255,0.9);
	-moz-box-shadow:inset 1px 1px 0 0 rgba(255,255,255,0.9);
	box-shadow:inset 1px 1px 0 0 rgba(255,255,255,0.9);
}

#megaMenu ul.megaMenu>li:hover>a span.wpmega-link-title,#megaMenu ul.megaMenu>li:hover>span.um-anchoremulator span.wpmega-link-title,#megaMenu ul.megaMenu>li>a:hover span.wpmega-link-title,#megaMenu ul.megaMenu>li>span.um-anchoremulator:hover span.wpmega-link-title,#megaMenu ul.megaMenu>li.megaHover>a span.wpmega-link-title,#megaMenu ul.megaMenu>li.megaHover>span.um-anchoremulator span.wpmega-link-title {
	text-shadow:0 -1px 1px transparent;
	color:#fff;
}

#nav #megaMenu ul.megaMenu>li.current-menu-item>a,#nav #megaMenu ul.megaMenu>li.current-menu-parent>a,#nav #megaMenu ul.megaMenu>li.current-menu-ancestor>a {
	color:#fff;
	background-color:#005c7e;
	border-bottom:1px solid transparent;
}

#nav #megaMenu ul li.ss-nav-menu-mega ul li.ss-nav-menu-item-depth-1 {
	padding:0 .25em;
	border-bottom:1px solid #ccc;
}

#megaMenu ul.megaMenu>li.ss-nav-menu-mega>ul.sub-menu-1,#megaMenu ul.megaMenu li.ss-nav-menu-reg ul.sub-menu {
	border-color:#222;
	color:#005C7E;
	text-shadow:0 1px 1px transparent;
	-webkit-box-shadow:1px 1px 1px transparent;
	-moz-box-shadow:1px 1px 1px transparent;
	box-shadow:1px 1px 1px transparent;
	background:#ddd;
/* Old browsers */
	background:-moz-linear-gradient(top,#fff 0%,#d6d7d9 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#d6d7d9));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#fff 0%,#d6d7d9 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#fff 0%,#d6d7d9 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#fff 0%,#d6d7d9 100%);
/* IE10+ */
	background:linear-gradient(to bottom,#fff 0%,#d6d7d9 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d6d7d9',GradientType=0);
/* IE6-9 */
}

#megaMenu ul.megaMenu ul.sub-menu .wpmega-postlist a {
	color:#005C7E;
}

#megaMenu.megaMenuHorizontal ul.megaMenu>li.ss-nav-menu-mega>ul.sub-menu-1,#megaMenu.megaMenuHorizontal ul.megaMenu li.ss-nav-menu-reg>ul.sub-menu {
	border-top:;
}

#megaMenu ul.megaMenu>li.ss-nav-menu-mega>ul.sub-menu-1>li {
	min-width:100px;
}

#nav #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1>li>a,#nav #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu .ss-nav-menu-header>a,#nav #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1>li>span.um-anchoremulator,#nav #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu .ss-nav-menu-header>span.um-anchoremulator,.wpmega-widgetarea h2.widgettitle {
	color:#0d72c7;
	font-size:1.25em;
	font-weight:700;
	text-shadow:0 1px 1px transparent;
	padding-bottom:.4em;
	border-bottom:1px dotted transparent;
	margin-bottom:.6em;
}

#megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li>a,#megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li>span.um-anchoremulator,#megaMenu ul ul.sub-menu li>a,#megaMenu ul ul.sub-menu li>span.um-anchoremulator {
	color:#005C7E;
	font-size:1em;
	text-shadow:0 1px 1px transparent;
	background-color:transparent;
}

#nav #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li a:hover,#nav #megaMenu ul ul.sub-menu>li:hover>a,#nav #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1>li:hover>a {
	color:#222;
	background-color:#fff;
}

#megaMenu ul.megaMenu>li.menu-item>.wpmega-nonlink>form#searchform {
	padding-top:2px;
}

#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-highlight>a,#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-highlight>span.um-anchoremulator {
	color:#005C7E!important;
}

#megaMenu .ss-nav-menu-with-img>a>.wpmega-link-title,#megaMenu .ss-nav-menu-with-img>a>.wpmega-link-description,#megaMenu .ss-nav-menu-with-img>a>.wpmega-item-description,#megaMenu .ss-nav-menu-with-img>span.um-anchoremulator>.wpmega-link-title,#megaMenu .ss-nav-menu-with-img>span.um-anchoremulator>.wpmega-link-description,#megaMenu .ss-nav-menu-with-img>span.um-anchoremulator>.wpmega-item-description {
	padding-left:0!important;
	min-width:184px;
	text-align:center;
}

.ss-nav-menu-with-img {
	min-height:50px;
}

#megaMenu ul.megaMenu li a span.wpmega-item-description,#megaMenu ul.megaMenu li span.um-anchoremulator span.wpmega-item-description {
	font-size:9px;
	line-height:1.4em;
	color:#222;
	text-transform:none;
}

#megaMenu ul li.mega-with-sub>a:after,#megaMenu ul li.ss-nav-menu-mega>a:after,#megaMenu ul li.mega-with-sub>span.um-anchoremulator:after,#megaMenu ul li.ss-nav-menu-mega>span.um-anchoremulator:after {
	border-top-color:#222;
}

#megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub>a:after,#megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub>span.um-anchoremulator:after {
	border-left-color:#222;
}

#megaMenu .wpmega-divider {
	border-top:1px solid #222;
	border-bottom:1px solid rgba(255,255,255,0.05);
}

#megaMenu.megaMenuVertical>ul>li>a,#megaMenu.megaMenuVertical>ul>li>span.um-anchoremulator {
	background-color:#EEF5F8;
	background:-webkit-gradient(linear,left top,left bottom,from(#EEF5F8),to(#fff));
	background:-webkit-linear-gradient(top,#EEF5F8,#fff);
	background:-moz-linear-gradient(top,#EEF5F8,#fff);
	background:-ms-linear-gradient(top,#EEF5F8,#fff);
	background:-o-linear-gradient(top,#EEF5F8,#fff);
}

#megaMenu.megaMenuVertical ul li.ss-nav-menu-reg li.megaReg-with-sub>a:after,#megaMenu.megaMenuVertical ul li.mega-with-sub>a:after,#megaMenu.megaMenuVertical ul li.ss-nav-menu-mega>a:after,#megaMenu.megaMenuVertical ul li.ss-nav-menu-reg li.megaReg-with-sub>span.um-anchoremulator:after,#megaMenu.megaMenuVertical ul li.mega-with-sub>span.um-anchoremulator:after,#megaMenu.megaMenuVertical ul li.ss-nav-menu-mega>span.um-anchoremulator:after {
	border-left-color:#222;
}

#megaMenu.megaMenuVertical ul.megaMenu>li.ss-nav-menu-mega>ul.sub-menu-1,#megaMenu.megaMenuVertical ul.megaMenu li.ss-nav-menu-reg>ul.sub-menu {
	border-left:;
}

#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item a,#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item span.um-anchoremulator {
	border-bottom:#ccc 1px solid;
}

#megaMenu.megaMenuHorizontal ul.megaMenu {
	*border-bottom:none;
}

#megaMenu.megaMenuVertical ul.megaMenu {
	*border-right:none;
}

.responsiveMenuSelect {
	display:none;
}

.photo-gallery-menu-group,.video-gallery-menu-group {
	width:180px;
	float:left;
	position:relative;
	text-align:left;
	font-size:1em;
}

.photo-gallery-menu-group .gallery-header,.video-gallery-menu-group .gallery-header {
	text-align:center;
}

#wrap #megaMenu #video-gallery-menu .video-gallery-menu-group {
	width:auto;
	padding:0 .75em;
	float:left;
	position:relative;
	font-size:1em;
	text-align:center;
}

.video-gallery-menu-group img {
	border:1px solid #000;
}

#video-gallery-menu {
	clear:both;
	margin-top:1em;
	border-top:2px solid #ccc;
}

#megaMenu #video-gallery-menu #top-five-videos-menu-item {
	text-align:left!important;
	padding-left:3em!important;
}

#video-gallery-widget .video-gallery-widget-group {
	width:175px;
	float:left;
	position:relative;
	text-align:left;
	font-size:12px;
	color:#222;
}

#photo-gallery-menu h3.menu-header,#video-gallery-menu h3.menu-header {
	height:30px;
	text-align:left;
}

#video-gallery-widget h3.menu-header {
	text-align:center;
}

#video-widget-footer {
	text-align:center;
	clear:both;
}

.photo-gallery-menu-group img,.customer-comments-menu-group img,.customer-service-menu-group img,#products-submenu img,.plan-menu-group img,.secondary-sizes img {
	border:1px solid #000;
}

.photo-gallery-menu-group a:hover img,.customer-comments-menu-group a:hover img,.customer-service-menu-group a:hover img,#products-submenu a:hover img,.plan-menu-group a:hover img,.top-level-sizes a:hover img {
	opacity:.6;
	filter:alpha(opacity=60);
}

#megaMenu table#products-submenu td,table#products-submenu td {
	vertical-align:top;
	text-align:left;
	padding-bottom:15px;
}

table#products-submenu ul.sub-menu {
	clear:both;
}

#megaMenu table#products-submenu td img,table#products-submenu td img {
	margin-right:10px;
	border:1px solid #111;
}

#megaMenu .ss-nav-menu-with-img img {
	float:none!important;
	margin-left:auto!important;
	margin-right:auto!important;
}

#megaMenu table#products-submenu a:hover img,div#featured-section p#call-to-action a:hover img {
	opacity:.6;
	filter:alpha(opacity=60);
}

#megaMenu table#products-submenu h4 {
	padding:0;
	margin:0;
}

#megaMenu table#products-submenu h4 a,#megaMenu ul.sub-menu h4.gallery-header a {
	font-size:18px;
	line-height:18px;
	font-weight:400;
	font-family:Georgia,Times,Serif;
	color:#000;
	white-space:nowrap;
}

#megaMenu table#products-submenu {
}

#megaMenu #photo-gallery-menu {
	width:100%;
}

#megaMenu table#products-submenu h4 a:hover,ul.sub-menu a:hover h3.menu-header,#megaMenu ul.sub-menu #plan-menu .plan-menu-group a:hover,#megaMenu ul.sub-menu #photo-gallery-menu a:hover,#megaMenu ul.sub-menu #video-gallery-menu a:hover,#megaMenu ul.sub-menu #review-menu a:hover,#megaMenu ul.sub-menu #customer-comments-menu a:hover,#megaMenu ul.sub-menu #customer-service-menu-group a:hover {
	color:#068EAE;
}

#megaMenu hr.wpmega-divider {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

.customer-service-menu-group {
	width:239px;
	float:left;
	position:relative;
	text-align:left;
}

.customer-comments-menu-group {
	padding:5px 0;
	clear:both;
}

#review-menu .review-menu-group {
	padding:.5em 0!important;
	color:#111;
	max-width:310px;
	font-size:1.25em!important;
	line-height:1.25em!important;
}

#review-menu .review-menu-group:not(:last-child) {
	border-bottom:1px solid #ccc!important;
}

.customer-comments-menu-group img {
	margin-right:15px;
}

.menu-secondary {
	clear:both;
	margin:0 auto;
	overflow:hidden;
	width:95%;
}

#subnav {
	background-color:transparent;
	border-bottom:none;
	font-weight:400;
	font-size:14px;
}

#subnav ul {
	border:1px none #fff;
}

#subnav li a {
	background-color:#558ABE;
	color:#fff;
	text-decoration:none;
}

#subnav li a:hover,#subnav li a:active,#subnav .current_page_item a,#subnav .current-menu-item a {
	background-color:#F5ECE3;
	color:#222;
	text-decoration:none;
}

#subnav li li a,#subnav li li a:link,#subnav li li a:visited {
	background-color:#568bbf;
	color:#fff;
}

#subnav li li a:hover,#subnav li li a:active {
	background-color:#F5ECE3;
	color:#222;
}

#subnav li {
	float:right;
}

#subnav li a {
	margin:0 5px;
	padding:6px 15px 10px;
	-moz-border-top-left-radius:15px;
	-khtml-border-top-left-radius:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
	-moz-border-top-right-radius:15px;
	-khtml-border-top-right-radius:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
}

#subnav .current-menu-item {
	background:transparent;
}

#subnav li li a,#subnav li li a:link,#subnav li li a:visited {
	background-color:#558ABE;
	color:#fff;
	-moz-border-top-left-radius:0;
	-khtml-border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
	-moz-border-top-right-radius:0;
	-khtml-border-top-right-radius:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
	font-size:12px;
}

#subnav li li a:hover,#subnav li li a:active {
	background-color:#222;
	color:#fff;
	-moz-border-top-left-radius:0;
	-khtml-border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
	-moz-border-top-right-radius:0;
	-khtml-border-top-right-radius:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
}

#subnav li.page-menu-label {
	float:left;
	margin-top:-.5em;
}

#wrap #subnav li.page-menu-label a.sf-with-ul {
	background:transparent;
	border:none;
	font-size:1.75em;
	line-height:1.25em;
	padding-left:15px;
	padding-bottom:0;
	color:#58585A;
	font-family:'Oswald',arial,serif;
}

#subnav li.page-menu-label a:hover {
	color:#fff;
}

#inner {
	margin:0 auto;
	overflow:hidden;
	padding:20px;
}

.breadcrumb {
	font-size:12px;
	line-height:14px;
	margin:-20px 0 0;
	padding:10px 0 10px 10px;
	color:#444;
}

.breadcrumb a {
	color:#fff;
	text-decoration:underline;
}

.taxonomy-description {
	background-color:#fff;
	margin:-10px 0 30px;
	padding:0 0 15px;
}

.taxonomy-description p {
	font-size:14px;
	padding:15px 15px 0;
}

#content-sidebar-wrap {
	float:left;
	width:750px;
}

.content-sidebar #content-sidebar-wrap,.full-width-content #content-sidebar-wrap,.sidebar-content #content-sidebar-wrap {
	width:100%;
}

.sidebar-content-sidebar #content-sidebar-wrap,.sidebar-sidebar-content #content-sidebar-wrap {
	float:right;
}

#content {
	float:left;
	padding:0 20px 10px;
	width:410px;
}

.content-sidebar #content,.sidebar-content #content {
	width:580px;
}

.sidebar-content #content,.sidebar-sidebar-content #content {
	float:right;
}

.full-width-content #content {
	width:880px;
}

.post {
	margin:0 0 40px;
}

.entry-content {
	overflow:hidden;
	clear:both;
}

.entry-content p {
	margin:0 0 25px;
}

blockquote {
	background:url(images/blockquote.png) no-repeat;
	border:none;
	margin:5px 5px 20px;
	padding:25px 30px 5px 70px;
}

blockquote p {
	color:#999;
	font-style:italic;
}

p.subscribe-to-comments {
	padding:20px 0 10px;
}

.clear {
	clear:both;
}

.clear-line {
	border-bottom:1px solid #ddd;
	clear:both;
	margin:0 0 25px;
}

body.single #content-sidebar-wrap {
	text-align:center;
}

body.single #content-sidebar-wrap,body.narrow #content-sidebar-wrap {
	text-align:center;
}

body.single #content,body.narrow #content,.narrow-seo,div.review {
	max-width:45em;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	float:none;
}

.five-sixths,.four-fifths,.four-sixths,.one-fifth,.one-fourth,.one-half,.one-sixth,.one-third,.three-fifths,.three-fourths,.three-sixths,.two-fifths,.two-fourths,.two-sixths,.two-thirds {
	float:left;
	margin:0 0 20px;
	padding-left:3%;
}

.one-half,.three-sixths,.two-fourths {
	width:48%;
}

.one-third,.two-sixths {
	width:31%;
}

.four-sixths,.two-thirds {
	width:65%;
}

.one-fourth {
	width:22.5%;
}

.three-fourths {
	width:73.5%;
}

.one-fifth {
	width:17.4%;
}

.two-fifths {
	width:37.8%;
}

.three-fifths {
	width:58.2%;
}

.four-fifths {
	width:78.6%;
}

.one-sixth {
	width:14%;
}

.five-sixths {
	width:82%;
}

.first {
	clear:both;
	padding-left:0;
}

.genesis-grid-even,.genesis-grid-odd {
	margin:0 0 20px;
	padding:0 0 15px;
	width:48%;
}

.genesis-grid-even {
	float:right;
}

.genesis-grid-odd {
	clear:both;
	float:left;
}

h1,h2,h2 a,h2 a:visited,h3,h4,h5,h6 {
	font-family:'Oswald',arial,serif;
	line-height:1.25;
	margin:0 0 10px;
}

h1 {
	font-size:30px;
}

.taxonomy-description h1 {
	margin:0;
}

h2,h2 a,h2 a:visited {
	font-size:28px;
}

h2 a,h2 a:visited {
	color:#333;
	font-family:'Oswald',arial,serif;
}

h2 a:hover {
	color:#0d72c7;
	text-decoration:none;
}

.widget-area h2,.widget-area h2 a {
	font-size:14px;
	margin:0 0 5px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:20px;
}

.taxonomy-description h1,.widget-area h4 {
	background-color:#f5f5f5;
	border-bottom:1px solid #ddd;
	font-size:14px;
	padding:9px 10px 8px;
}

.widget-area h4 a {
	color:#333;
	text-decoration:none;
}

#footer-widgets h4 {
	background:none;
	border:none;
	padding:0;
}

h5 {
	font-size:18px;
}

.product h1.entry-title,.special-use h1.entry-title {
	text-indent:-9999px;
	position:absolute;
	overflow:hidden;
}

.entry-content ol,.entry-content ul {
	margin:0;
	padding:0 0 25px;
}

.archive-page ul li,.entry-content ul li {
	list-style-type:square;
	margin:0 0 0 30px;
	padding:0;
}

.entry-content ol li {
	margin:0 0 0 35px;
}

.archive-page ul ul,.entry-content ol ol,.entry-content ul ul {
	padding:0;
}

.post-info {
	font-size:14px;
	margin:-5px 0 15px;
}

.post-meta {
	border-top:1px solid #ddd;
	clear:both;
	font-size:14px;
	padding:5px 0 0;
}

.author-box {
	background-color:#f5f5f5;
	margin:0 0 40px;
	overflow:hidden;
	padding:10px;
}

.author-box p {
	font-size:14px;
}

.sticky {
	background-color:#f5f5f5;
	margin:-10px 0 40px;
	padding:20px;
}

.archive-page {
	float:left;
	padding:20px 0 0;
	width:45%;
}

.post-comments,.tags {
	background:url(images/icon-dot.png) no-repeat left;
	margin:0 0 0 3px;
	padding:0 0 0 10px;
}

img {
	height:auto;
	max-width:100%;
}

.avatar,.featuredpage img,.featuredpost img,.post-image {
	background-color:#f5f5f5;
	border:1px solid #ddd;
	padding:4px;
}

.author-box .avatar {
	background-color:#fff;
	float:left;
	margin:0 10px 0 0;
}

.post-image {
	margin:0 10px 10px 0;
}

.comment-list li .avatar {
	background-color:#fff;
	float:right;
	margin:5px 0 0 10px;
}

img.centered,.aligncenter {
	display:block;
	margin:0 auto 10px;
}

img.alignnone {
	display:inline;
	margin:0 0 10px;
}

img.alignleft {
	display:inline;
	margin:0 15px 10px 0;
}

img.alignright {
	display:inline;
	margin:0 0 10px 15px;
}

.alignleft {
	float:left;
	margin:0 15px 10px 0;
}

.alignright {
	float:right;
	margin:0 0 10px 15px;
}

.wp-caption {
	padding:5px;
	text-align:center;
}

p.wp-caption-text {
	font-size:14px;
	margin:5px 0;
}

.wp-smiley,.wp-wink {
	border:none;
	float:none;
}

.gallery-caption {
}

.navigation {
	font-size:14px;
	overflow:hidden;
	padding:20px 0;
	width:100%;
}

.navigation li {
	display:inline;
}

.navigation li a,.navigation li.disabled,.navigation li a:hover,.navigation li.active a {
	border:1px solid #ddd;
	padding:5px 8px;
}

.navigation li a:hover,.navigation li.active a {
	background-color:#f5f5f5;
}

.infinity-success .navigation {
	display:none;
}

.sidebar {
	display:inline;
	float:right;
	font-size:14px;
	width:280px;
}

#sidebar-alt {
	float:left;
	width:150px;
}

.sidebar-content #sidebar,.sidebar-sidebar-content #sidebar {
	float:left;
}

.content-sidebar-sidebar #sidebar-alt {
	float:right;
}

.sidebar p {
	font-size:inherit;
}

.sidebar .widget {
	background-color:#fff;
	border:1px solid #ddd;
	margin:0 0 15px;
	padding:0 0 15px;
}

.sidebar.widget-area ol,.sidebar.widget-area ul,.widget-area .textwidget,.widget_tag_cloud div div {
	padding:0 15px;
}

.sidebar.widget-area ul li,#footer-widgets .widget-area ul li {
	border-bottom:1px solid #ddd;
	list-style-type:none;
	margin:0 0 7px;
	padding:0 0 5px;
	word-wrap:break-word;
}

.sidebar.widget-area ul ul li {
	border:none;
	margin:0;
}

.widget_archive select,#cat {
	display:inline;
	margin:5px 15px 0;
	padding:3px;
	width:85%;
}

.featuredpage,.featuredpost {
	clear:both;
	margin:0 0 15px;
	overflow:hidden;
}

.featuredpage .page,.featuredpost .post {
	border-bottom:1px solid #ddd;
	margin:0 0 5px;
	overflow:hidden;
	padding:0 15px 10px;
}

#footer-widgets .featuredpage .page,#footer-widgets .featuredpost .post {
	margin:0 0 10px;
	padding:0;
}

.more-from-category {
	padding:5px 15px 0;
}

.user-profile {
	overflow:hidden;
}

.user-profile p {
	padding:5px 15px 0;
}

.user-profile .posts_link {
	padding:0 15px;
}

input[type="button"],input[type="submit"] {
	background:url(images/gradient.png) 0 0;
	border:1px solid #ccc;
	cursor:pointer;
	line-height:19px;
	padding:5px 7px;
	text-decoration:none;
}

input:hover[type="button"],input:hover[type="submit"] {
	background:url(images/gradient.png) 0 -33px;
	text-decoration:none;
}

div#buybutton a {
	background:#cb3c3c;
	color:#fff;
	padding:8px;
	text-decoration:none;
	-moz-border-radius:15px;
	-khtml-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	font-weight:700;
}

div#buybutton a:hover {
	background:#fff;
	color:#cb3c3c;
}

#phone {
	font-size:1.5em;
	font-style:italic;
	color:#fff;
	padding-bottom:4px;
}

.phone {
	font-size:1.5em;
}

a[href$=.pdf]:after {
	content:" (PDF)";
}

a[href$=.pdf][data-size]:after {
	content:" (PDF, " attr(data-size) ")";
}

#header .searchform {
	float:right;
	padding:12px 0 0;
}

.sidebar .searchform {
	padding:5px 0 0 15px;
}

.s {
	margin:10px -7px 0 0;
	padding:6px 5px;
	width:180px;
}

#nav .s {
	background-color:#fff;
	margin:2px -7px 0 0;
}

.enews p {
	padding:0 15px 5px;
}

.enews #subscribe {
	padding:0 0 0 15px;
}

.enews #subbox {
	margin:5px -7px 0 0;
	padding:6px 5px;
	width:75%;
}

#wp-calendar {
	width:100%;
}

#wp-calendar caption {
	font-size:12px;
	font-style:italic;
	padding:2px 5px 0 0;
	text-align:right;
}

#wp-calendar thead {
	background-color:#f5f5f5;
	font-weight:700;
	margin:10px 0 0;
}

#wp-calendar td {
	background-color:#f5f5f5;
	padding:2px;
	text-align:center;
}

#footer-widgets {
	background-color:transparent;
	border:none;
	clear:both;
	font-size:14px;
	margin:0 auto;
	overflow:hidden;
	width:100%;
}

#footer-widgets .wrap {
	overflow:hidden;
	padding:20px 30px 10px;
}

#footer-widgets .widget {
	background:none;
	border:none;
	margin:0 0 15px;
	padding:0;
}

#footer-widgets .textwidget {
	padding:0;
}

#footer-widgets .widget_tag_cloud div div {
	padding:0;
}

#footer-widgets p {
	font-size:inherit;
	margin:0 0 10px;
}

#footer-widgets ul {
	margin:0;
}

#footer-widgets ul li {
	margin:0 0 0 20px;
}

#footer-widgets #wp-calendar thead,#footer-widgets #wp-calendar td {
	background:none;
}

.footer-widgets-1 {
	float:left;
	margin:0 30px 0 0;
	width:280px;
}

.footer-widgets-2 {
	float:left;
	width:280px;
}

.footer-widgets-3 {
	float:right;
	width:280px;
}

#footer {
	background-color:#d5d5d5;
	border-top:1px solid #ddd;
	clear:both;
	font-size:14px;
	margin:0 auto;
	overflow:hidden;
	width:960px;
}

#footer .wrap {
	overflow:hidden;
	padding:10px 15px;
}

#footer p {
	font-size:inherit;
}

#footer a,#footer a:visited {
	color:#333;
}

#footer a:hover {
	color:#0d72c7;
	text-decoration:none;
}

#footer .gototop {
	float:left;
	width:200px;
}

#footer .creds {
	float:right;
	text-align:right;
	width:650px;
}

#infinite-footer .blog-credits {
	display:none!important;
}

#footernav {
	text-align:center;
	width:100%;
	background:#808285;
	border-top:2px solid #d1d3d4;
	border-bottom:2px solid #d1d3d4;
	height:auto;
	clear:both;
	float:left;
	position:relative;
	min-height:48px;
}

#footernav ul#menu-footer,#footernav ul#menu-footer-1 {
	width:85%;
	margin:0 auto;
}

#footernav ul#menu-footer,#footernav ul#menu-footer-1 {
	text-align:center;
	list-style:none outside none;
	padding-top:5px;
}

#footernav ul#menu-footer li,#footernav ul#menu-footer-1 li {
	padding:0 10px;
	text-align:center;
	list-style-type:none;
	list-style-image:none;
	float:left;
	background:none;
	min-height:35px;
}

#footernav ul#menu-footer li.social-icon,#footernav ul#menu-footer-1 li.social-icon {
	border-color:transparent;
	padding:0 5px;
}

#footernav ul#menu-footer li a,#footernav ul#menu-footer-1 li a {
	font-size:14px;
	color:#fff;
	text-shadow:2px 2px 2px #000;
	text-decoration:none;
}

#footernav ul#menu-footer>li,#footernav ul#menu-footer-1>li {
	border-left:1px solid #d1d3d4;
	border-right:1px solid #d1d3d4;
}

#footernav ul#menu-footer>li:first-child,#footernav ul#menu-footer li.blog-footer-menu,#footernav ul#menu-footer-1>li:first-child,#footernav ul#menu-footer-1 li.blog-footer-menu {
	border-left-color:transparent;
}

#footernav ul#menu-footer>li:last-child,#footernav ul#menu-footer-1>li:last-child {
	border-right-color:transparent;
}

#frontpage-footer-widgeted {
	color:#666;
	margin:0 auto;
	float:left;
	width:auto;
	padding:0 2em;
}

#frontpage-footer-widgeted a {
	text-decoration:none;
}

#frontpage-footer-widgeted a:hover {
	text-decoration:underline;
}

#frontpage-footer-widgeted div.widget-wrap h2.featured-post-header,#frontpage-footer-widgeted div.widget-wrap h2.featured-post-header a {
	text-align:center;
	color:#666;
	font-size:26px;
	font-weight:400;
}

#frontpage-footer-widgeted h2.featured-post-header {
	padding-bottom:1em;
}

#frontpage-footer-widgeted div.widget-wrap h2.featured-post-header a {
	color:#068EAE;
	text-decoration:underline;
}

#frontpage-footer-widgeted div.widget-wrap h2.featured-post-header a:hover {
	color:#666;
	text-decoration:none;
}

div#top-posts {
	margin:0 3em;
}

#frontpage-footer-widgeted .navigation,#frontpage-footer-widgeted .more-from-category {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#comments,#respond {
	margin:0 0 15px;
	overflow:hidden;
}

#author,#comment,#email,#url {
	margin:10px 5px 0 0;
	padding:5px;
	width:250px;
}

#comment {
	height:150px;
	margin:10px 0;
	width:98%;
}

.ping-list {
	margin:0 0 40px;
}

.comment-list ol,.ping-list ol {
	padding:10px;
}

.comment-list li,.ping-list li {
	font-weight:700;
	list-style-type:none;
	margin:15px 0 5px;
	padding:10px 15px;
}

.comment-list li ul li {
	list-style-type:none;
	margin-right:-16px;
}

.comment-content p {
	font-size:14px;
	margin:0 0 20px;
}

.comment-list cite,.ping-list cite {
	font-style:normal;
}

.commentmetadata {
	font-size:12px;
	margin:0 0 5px;
}

.reply {
	font-size:14px;
	font-weight:300;
}

.nocomments {
	text-align:center;
}

#comments .navigation {
	display:block;
}

.bypostauthor {
}

.thread-alt,.thread-even {
	background-color:#f5f5f5;
}

.alt,.depth-1,.even {
	border:1px solid #ddd;
}

div.gform_wrapper input,div.gform_wrapper select,div.gform_wrapper textarea {
	box-sizing:border-box;
	font-size:14px!important;
	padding:4px 5px!important;
}

div.gform_footer input.button {
	color:#333;
}

div.gform_wrapper .ginput_complex label {
	font-size:14px;
}

div.gform_wrapper li,div.gform_wrapper form li {
	margin:0 0 10px;
}

div.gform_wrapper .gform_footer {
	border:none;
	margin:0;
	padding:0;
}

input[type=submit] {
	-moz-border-radius:2em;
	-webkit-border-radius:2em;
	border-radius:2em;
	opacity:1;
	-webkit-transition:opacity .25s ease-out;
	-moz-transition:opacity .25s ease-out;
	-ms-transition:opacity .25s ease-out;
	-o-transition:opacity .25s ease-out;
	transition:opacity .25s ease-out;
	-webkit-transition:background-color .25s ease-out;
	-moz-transition:background-color .25s ease-out;
	-ms-transition:background-color .25s ease-out;
	-o-transition:background-color .25s ease-out;
	transition:background-color .25s ease-out;
}

#content input[type=submit]:hover {
	opacity:.75;
	filter:alpha(opacity=75);
}

#content .gform_wrapper ul li.request-phone,#content .gform_wrapper ul li.request-email,#tab-info-request-text li.request-phone,#tab-info-request-text li.request-email,#how-to-buy-form li.request-phone {
	float:left;
	position:relative;
}

#content .gform_wrapper ul li.request-phone,#tab-info-request-text li.request-phone,#how-to-buy-form li.request-phone {
	width:44%;
	clear:none;
}

#content .gform_wrapper ul li.request-email,#tab-info-request-text li.request-email,#how-to-buy-form li.request-email {
	width:50%;
	clear:right;
}

#content form.request-info-short .gform_footer {
	padding-top:0;
	margin-top:0;
}

#content div#second-submit,div#second-submit {
	float:right;
	width:20%;
	clear:none;
	position:relative;
	margin-top:-25px;
	right:100px;
}

#content div.error_message,#tab-info-request-text div.error_message {
	color:red;
}

textarea:focus,input:focus {
	border:1px solid #068EAE;
	background-color:#EEF5F8;
}

.gform_footer {
	text-align:center;
}

div#faces-phone h2 {
	border-top:1px solid #666;
}

#content form#build-your-own-room-divider .current {
	border:2px solid #2DAEBF;
	-moz-animation-name:bluePulse;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:ease-in-out;
	-moz-animation-direction:alternate;
	animation-name:bluePulse;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction:alternate;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

.gform_wrapper .ginput_complex label,.gform_wrapper .gfield_time_hour label,.gform_wrapper .gfield_time_minute label,.gform_wrapper .gfield_date_month label,.gform_wrapper .gfield_date_day label,.gform_wrapper .gfield_date_year label,.gform_wrapper .instruction {
	margin-top:-2px!important;
	margin-bottom:0!important;
}

.gform_wrapper .top_label .gfield_label {
	margin-top:0!important;
	margin-bottom:0!important;
}

div#how-to-buy-form {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	padding-left:50px;
}

#livechat {
	position:fixed;
	display:block;
	top:250px;
	background-color:#ffcf2e;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 5px 5px #888;
	-webkit-box-shadow:0 0 5px 5px #888;
	overflow:hidden;
	height:240px;
	width:25px;
/*-webkit-transition:width .4s ease-out;
	-moz-transition:width .4s ease-out;
	-ms-transition:width .4s ease-out;
	-o-transition:width .4s ease-out;
	transition:width .4s ease-out; */
	-webkit-transition:color .4s ease-out;
	-moz-transition:color .4s ease-out;
	-ms-transition:color .4s ease-out;
	-o-transition:color .4s ease-out;
	transition:color .4s ease-out;
	z-index:10;
	float:left;
}

#livechat #room-divider-live-chat-text {
	display:block;
	text-decoration:none;
	font-weight:700;
	padding:10px;
	color:#222;
	text-transform:capitalize;
}

#livechat #room-divider-live-chat-text span#phplive_btn_1377542106 {
	cursor:pointer;
}

#livechat #room-divider-live-chat-text span:hover {
	color:#EC5F40;
}

/*
#room-divider-live-chat img {
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transition:opacity .25s ease-out;
	-moz-transition:opacity .25s ease-out;
	-ms-transition:opacity .25s ease-out;
	-o-transition:opacity .25s ease-out;
	transition:opacity .25s ease-out;
}

#room-divider-live-chat span:hover img {
	opacity:1;
}

div#livechat:hover {
	width:200px;
	opacity:1;
}

div#livechat:hover img {
	filter:alpha(opacity=100);
	opacity:1;
}
*/
#tab-container {
	position:fixed;
	top:220px;
}

#tab-info-request {
	display:block;
	top:220px;
	height:290px;
	width:25px;
	float:right;
}

#tab-info-request #tab-info-request-text {
	width:960px;
	right:0;
}

#tab-info-request #tab-info-request-text a.price-tab {
	float:right;
	width:9px;
	text-align:center;
	display:block;
	text-decoration:none;
	font-weight:700;
	padding:10px;
	color:#fff;
	text-transform:capitalize;
	background-color:#668e27;
	-moz-border-top-left-radius:5px;
	-khtml-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-khtml-border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	-moz-box-shadow:0 0 5px 5px #888;
	-webkit-box-shadow:0 0 5px 5px #888;
	-webkit-transition:padding-left .25s ease-out;
	-moz-transition:padding-left .25s ease-out;
	-ms-transition:padding-left .25s ease-out;
	-o-transition:padding-left .25s ease-out;
	transition:padding-left .25s ease-out;
}

#tab-info-request #tab-info-request-text a:hover {
	padding-left:15px;
}

#tab-info-request #tab-info-request-text div#faces-phone a:hover {
	padding-left:0;
}

div#tab-container:hover .tab-info-form {
	display:block!important;
	width:330px!important;
	height:400px!important;
}

body.how-to-buy div#tab-container {
	display:none;
}

.tab-info-form {
	display:none;
	float:right;
	background-color:#94b0be;
	box-shadow:5px 0 5px 0 #888;
	float:right;
	height:0;
	margin-top:-60px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:0 1em 1em;
	width:0;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	z-index:100;
	position:relative;
	-webkit-transition:display 1s ease-out;
	-moz-transition:display 1s ease-out;
	-ms-transition:display 1s ease-out;
	-o-transition:display 1s ease-out;
	transition:display 1s ease-out;
	-webkit-transition:width .4s ease-out;
	-moz-transition:width .4s ease-out;
	-ms-transition:width .4s ease-out;
	-o-transition:width .4s ease-out;
	transition:width .4s ease-out;
	-webkit-transition:height .4s ease-out;
	-moz-transition:height .4s ease-out;
	-ms-transition:height .4s ease-out;
	-o-transition:height .4s ease-out;
	transition:height .4s ease-out;
}

#tab-info-request-tex .gform_title {
	margin-top:0;
}

h1.entry-title {
	color:#58585A;
}

body.home h1.entry-title {
	text-indent:-9999px;
	position:absolute;
}

body.home h2.secondary-seo-title {
	position:relative;
	font-size:2.75em;
	text-indent:1em;
	color:#fff;
	letter-spacing:.1em;
	padding-top:.15em;
}

body.home h3 {
	text-align:center;
}

/* Temporary Style for A/B test 2013-03-07 */
body.page-id-40193 h1.entry-title {
	text-indent:65px;
	position:relative;
	bottom:0;
	color:#195889;
	font-size:32pt;
	letter-spacing:3px;
	margin-bottom:-55px;
	text-align:justify;
	top:15px;
}

#main-topic {
	background-color:#f5ece3;
	padding:10px;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
	-moz-box-shadow:5px 0 5px 0 #888;
	-webkit-box-shadow:5px 0 5px 0 #888;
	box-shadow:5px 0 5px 0 #888;
	position:relative;
	float:left;
	width:97%;
}

#main-top-description {
	padding:10px;
	margin-bottom:10px;
	line-height:18px;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
	-moz-box-shadow:5px 0 5px 0 #888;
	-webkit-box-shadow:5px 0 5px 0 #888;
	box-shadow:5px 0 5px 0 #888;
	background-color:#94b0be;
	clear:both;
	float:left;
	position:relative;
	width:97%;
}

#content #main-top-description {
	font-size:1em;
}

#content div.values {
	text-align:center;
	width:100%;
	float:left;
}

#content div.values div.statement {
	width:125px;
	height:125px;
	float:left;
	background:url(//www.screenflex.com/wp-content/uploads/2011/11/Bubble-Blue-Trans.png);
}

#content div.values div.statement a {
	font-weight:700;
	text-transform:uppercase;
	font-size:13px;
	color:#fff;
	text-decoration:none;
	display:block;
	line-height:13px;
	width:125px;
	height:70px;
	padding-top:62px;
	text-indent:7px;
}

#content div.values div.statement a:hover {
	color:#fd7;
}

#content #value-statement-groups {
	padding:20px;
	float:left;
	clear:both;
	width:96%;
}

#content .value-statement-group {
	clear:both;
	vertical-align:middle;
	background-color:#fff;
	-moz-box-shadow:0 0 5px 5px #888;
	-webkit-box-shadow:0 0 5px 5px;
	box-shadow:0 0 5px 5px #888;
	-moz-border-radius:25px;
	-khtml-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border-color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:30px;
	padding:15px;
	position:relative;
	float:left;
	min-width:95%;
}

#content h2.value-statement {
	color:#8d2b21;
	position:absolute;
	top:30%;
	background-color:rgba(255,255,255,0.75);
	padding:10px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	font-size:21px;
}

#content h2.value-statement a {
	color:#8d2b21;
	font-size:21px;
}

#content h2.value-statement a:hover {
	color:#222;
}

#content #versatile-sizes {
	font-size:20px;
}

#content div.value-statement-group div.wp-caption {
	background:#fff;
	text-align:left;
	border:none;
	padding:0 0 15px;
}

#content div.value-statement-group p.wp-caption-text {
	margin-top:-1em;
	font-weight:700;
}

a.back-to-value {
	position:absolute;
	bottom:-1.75em;
	font-size:80%;
}

.main-content {
	margin-left:auto;
	margin-right:auto;
	width:635px;
}

.main-content h2,.main-content h2 a {
	font-size:22px;
	text-align:center;
}

.main-content h2 a {
	color:#0D72C7;
}

.main-content h2 a:hover {
	text-decoration:underline;
}

div#sub-section-alt {
	color:#666;
	text-align:center;
	padding-top:2em;
	clear:both;
}

div#sub-section-alt h2 {
	color:#666;
	font-weight:400;
}

div#sub-section-alt p {
	position:relative;
}

div.photo h2.entry-title {
	min-height:4em;
}

.infinite-wrap {
	clear:both;
}

div.infinite-wrap div.photo {
	padding:0;
	width:31%;
	float:left;
	margin:0 0 20px;
	padding-left:2%;
}

div.infinite-wrap div.photo h2.entry-title {
	min-height:1em;
	padding-top:1em;
}

div.infinite-wrap .post-info {
	display:none;
}

div.infinite-wrap .post-meta {
	display:none;
}

/* may need to change this post-meta to get the before and after pictures */
body.post-type-archive-photo .post-meta,body.tax-use .post-meta,body.tax-color .post-meta,body.tax-height .post-meta,body.tax-length .post-meta {
	display:none;
}

body.post-type-archive-photo div.photo p,body.tax-use div.photo p,body.tax-color div.photo p,body.tax-height div.photo p,body.tax-length div.photo p {
	display:none;
}

div.photo {
	position:relative;
}

div.photo h2.entry-title,div.photo h2.entry-title {
	position:absolute;
	background-color:rgba(255,255,255,0.65);
	bottom:3em;
	padding:.5em;
}

div.photo h2.entry-title,div.photo h2.entry-title a {
	min-height:2em;
	font-size:18px;
	line-height:18px;
}

body.video-gallery .alignleft {
	margin:0 10px 5px 0;
}

body.product #content {
	padding-top:0;
}

a[href*="/thank-you/"],.not-screenflex {
	display:none!important;
}

.main-benefits {
	float:left;
}

body.product #content #main-top-description ul.benefits-list {
	width:50%;
	float:left;
	list-style-type:none;
	font-size:16px;
	line-height:18px;
}

body.product #special-use-dividers {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#d1d3d4;
	clear:both;
	padding:10px;
	text-align:center;
}

body.product #special-use-dividers div.wp-caption {
	background-color:transparent;
	border:none;
}

body.product #special-use-dividers h2 {
	text-align:center;
	width:80%;
	border-bottom:2px solid #636466;
	color:#636466;
	margin-left:auto;
	margin-right:auto;
}

body.product #special-use-dividers h4 {
	padding-top:15px;
}

body.product #featured-photo-gallery {
	clear:both;
	position:relative;
}

.photo-gallery-group {
	width:175px;
	float:left;
	text-align:center;
}

.photo-gallery-group h4.gallery-header a {
	text-decoration:none;
}

.photo-gallery-group h4.gallery-header a:hover {
	text-decoration:underline;
}

.photo-gallery-group img {
	border:1px solid #000;
}

#product-comparison {
	clear:both;
	float:left;
}

body.special-use #megaMenu li.top-level-sizes {
	display:none;
}

body.special-use #megaMenu li.top-level-sizes a {
}

body.special-use #megaMenu li.top-level-sizes ul.sub-menu {
	display:none!important;
}

#featured-quote {
	clear:both;
	float:left;
	width:100%;
	padding-top:20px;
}

#main-topic p.product-claim {
	background-color:#f9e08f;
	font-size:22px;
	margin:10px;
	padding:10px;
	-moz-box-shadow:5px 0 5px 0 #888;
	-webkit-box-shadow:5px 0 5px 0 #888;
	box-shadow:5px 0 5px 0 #888;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:42%;
	float:right;
}

#heavy-duty-sizes {
	padding-top:20px;
	width:100%;
	position:relative;
	clear:both;
	float:left;
}

#content p#top-view-left-caption {
	width:400px;
	float:left;
	position:relative;
	margin-left:0 auto;
	margin-right:0 auto;
	text-align:center;
}

#content p#top-view-img {
	width:400px;
	float:left;
	position:relative;
	margin-left:0 auto;
	margin-right:0 auto;
	text-align:center;
}

#content p#top-view-right-caption {
	width:400px;
	float:left;
	position:relative;
	margin-left:0 auto;
	margin-right:0 auto;
	text-align:center;
}

body.overview #main-topic p.call-to-action {
	position:absolute;
	bottom:50px;
	right:50px;
}

#heavy-duty-benefits {
	position:relative;
	float:left;
	width:100%;
	text-align:center;
}

#heavy-duty-benefits .wp-caption {
	background:none;
	border:none;
	padding:none;
	margin:none;
}

#heavy-duty-benefits .wp-caption-text {
	font-weight:700;
}

#heavy-duty-benefits img {
	border:2px solid #000;
}

#display-tower-benefits {
	width:100%;
	clear:both;
	float:left;
	text-align:center;
}

#display-tower-benefits-details {
	width:700px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

ul.display-tower-features-list {
	background-color:#acb8e0;
	width:500px;
}

#main-topic img.threepanel {
	padding:10px;
	margin-right:60px;
}

#main-topic #sixpanel .wp-caption {
	padding:0 15px;
}

body.display-tower #main-topic p.call-to-action {
	float:right;
	clear:both;
	margin-right:125px;
	margin-top:-80px;
}

#content #main-topic .highlight-button {
	width:67px;
	height:60px;
/*	background-image:url(/wp-content/uploads/page-images/blue-red-radar-dots-large.gif); */
	background-repeat:no-repeat;
	background-position:0 0;
	padding:0;
	margin:0;
	overflow:hidden;
	position:absolute;
	text-align:center;
}

.feature-highlight {
	z-index:1;
}

#content #feature-descriptions {
	background:transparent;
	z-index:2;
	list-style-type:none;
	padding:0;
	margin:0;
}

#content #feature-descriptions li {
	list-style:none;
	list-style-image:none;
	background:none;
	margin:0;
	padding:0;
	display:none;
	position:absolute;
}

#content #main-topic p.no {
	color:transparent;
	text-indent:-9999px;
}

#inner-caster {
	top:238px;
	left:328px;
}

#inner-caster-description {
	top:220px;
	left:428px;
}

#storage-latch {
	top:243px;
	left:90px;
}

#storage-latch-description {
	top:220px;
	left:200px;
}

#corner-caster {
	top:246px;
	right:4px;
}

#corner-caster-description {
	top:250px;
	right:104px;
}

#pch {
	top:8px;
	left:525px;
}

#pch-description {
	top:220px;
	left:635px;
}

#end-frame {
	top:145px;
	left:-5px;
}

#end-frame-description {
	top:350px;
	left:105px;
}

#panel {
	top:20px;
	right:55px;
}

#panel-description {
	top:280px;
	right:155px;
}

#hinge {
	top:145px;
	left:625px;
}

#hinge-description {
	top:210px;
	left:440px;
}

#tackable {
	top:40px;
	left:350px;
}

#tackable-description {
	top:320px;
	left:175px;
}

#leader {
	top:98px;
	left:232px;
}

#leader-description {
	top:320px;
	left:350px;
}

#usa {
	top:70px;
	left:50px;
}

#usa-description {
	top:220px;
	left:175px;
}

#versatility {
	top:120px;
	right:50px;
}

#versatility-description {
	top:375px;
	left:230px;
}

#content #feature-descriptions .wp-caption {
	background:#f3f3f3;
	background:rgba(243,243,243,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99f3f3f3,endColorstr=#99f3f3f3);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99f3f3f3,endColorstr=#99f3f3f3);
}

#content #feature-descriptions .wp-caption p.wp-caption-text {
	font-size:1.25em;
	line-height:1.25em;
}

#main-feature {
	display:none;
}

#light-duty-sizes {
	float:left;
	width:550px;
	position:relative;
}

body.overview #content .light-duty-quote {
	float:left;
	margin-top:20px;
	width:350px;
	clear:none;
}

#light-duty-sizes h3 {
	font-weight:400;
}

#light-duty-sizes .size-callout {
	width:6em;
	height:4em;
	-moz-border-radius:3em;
	-webkit-border-radius:3em;
	border-radius:3em;
	border:1px solid #000;
	background-color:#fff;
	padding-top:1em;
	padding-left:1em;
	position:absolute;
	left:300px;
}

#content #light-duty-sizes .wp-caption {
	background:none;
	border:none;
}

#content #light-duty-sizes .wp-caption-text {
	font-size:22px;
	line-height:22px;
	font-weight:400;
}

#light-duty-sizes .light-duty-storage {
	position:absolute;
	top:200px;
	left:345px;
}

#content p#light-duty-action {
	float:right;
	margin-right:130px;
	margin-top:30px;
}

div.light-duty #regular-colors {
	width:auto;
	padding-right:12px;
	margin-left:25px;
	height:auto;
}

div.light-duty #regular-colors h3 {
	margin-left:7px;
}

table#FSLcodes td {
	background:#EEF5F8;
}

#product-grid {
	border:3px solid #fff;
	background-color:#94b0be;
	padding:15px;
	float:left;
}

table#FSLcodes td.productcode {
	background:#fff;
	width:105px;
}

table#FSLcodes p.dimensions,table#FSLcodes p {
	display:none;
	text-align:center;
}

table#FSLcodes th,td.panelheight,td.dividerlength {
	background-color:#EEF5F8;
}

table#FSLcodes th,table#FSLcodes td {
	padding:4px;
}

th.placeholder {
	color:transparent;
}

img.fs-product-image {
	border:2px solid #000;
}

#SFVirtualDivider {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#SFVirtualDivider img {
	padding-top:3em;
}

#SFVirtualDivider {
	border:1px solid #666;
}

#alternate-flash-copy {
	text-align:left;
	padding:4em 5em 1em;
	clear:both;
}

div#BYORD-container {
	float:left;
	width:100%;
}

h2#byord-header {
	display:none;
}

div#BYORD {
	width:690px;
	height:530px;
	background:#fff url(/wp-content/uploads/page-images/room-divider-sizes/BYORD-transparent-bg.gif) no-repeat;
	padding-top:45px;
	margin-top:20px;
	margin-bottom:45px;
	padding-left:10px;
	padding-right:10px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}

div#roomdividerbuilder {
	width:690px;
	text-align:center;
	clear:both;
	position:relative;
	padding-bottom:10px;
}

div#roomdividerbuilder fieldset {
	border:none;
}

div#roomdividerbuilder fieldset label {
	display:block;
}

legend#builderheading {
	font-size:16px;
	color:#069;
}

div.selector {
	width:155px;
	float:left;
	position:relative;
	text-align:center;
}

#yourroomdivider {
	position:relative;
	text-align:center;
	padding:0 15px;
}

#content h3#roomdividerCaption {
	text-align:left;
	color:#000;
	font-size:14px;
	line-height:18px;
	position:absolute;
	z-index:50;
	width:410px;
	left:138px;
	top:112px;
	background:#eee;
	background-color:rgba(255,255,255,0.8);
	padding:5px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	display:none;
}

#sizes {
	margin-top:-35px;
}

#sizes h2 {
	text-align:center;
}

.ready {
	display:none;
}

#scale {
	display:none;
	vertical-align:bottom;
	float:left;
	margin-right:-70px;
	margin-left:30px;
	margin-bottom:-40px;
	z-index:100;
	position:relative;
}

#selectimage {
	position:relative;
	z-index:50;
}

#swatch {
	padding-bottom:10px;
}

div#buttons {
	padding-left:0;
	padding-right:0;
	text-align:center;
	width:700px;
	position:relative;
	display:none;
}

div#buttons div {
	width:233px;
	float:left;
}

div#buttons div.action a {
	background-color:#F2E6A8;
	padding:10px;
	border:3px solid red;
	-moz-border-radius:10px;
	border-radius:10px;
	text-decoration:none;
	color:red;
	position:relative;
}

a#brochurebutton {
	float:right;
}

a#quotebutton {
	float:left;
}

div#buttons div.action a:hover {
	background-color:red;
	padding:10px;
	border:3px solid red;
	-moz-border-radius:10px;
	border-radius:10px;
	text-decoration:none;
	color:#F2E6A8;
	font-weight:bolder;
}

#quoteBox label {
	margin-bottom:10px;
}

div#roomdividerbuilder div.currentTask {
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#ccc;
	-webkit-transition:background-color .2s ease-out;
	-moz-transition:background-color .2s ease-out;
	-ms-transition:background-color .2s ease-out;
	-o-transition:background-color .2s ease-out;
	transition:background-color .2s ease-out;
}

#otherLengthBox {
	clear:both;
	width:265px;
	margin-left:100px;
	margin-right:100px;
	text-align:center;
}

body.buyers-guide #content h1.entry-title {
	background:transparent;
	border-left:none;
	border-right:none;
	color:#fff;
	width:912px;
}

#product-comparison-grid {
	font-size:12px;
	line-height:16px;
	position:relative;
	text-align:center;
	clear:both;
	margin-top:2em;
}

h2#product-comparison-header {
	margin-top:1em;
	float:left;
	width:100%;
	border-top:2px dotted #ccc;
	margin-bottom:1.25em;
}

#product-comparison-grid em {
	color:#cb3c3c;
	font-style:italic;
}

#product-comparison-grid #HD,#WM,#LD,#labels {
	border:2px solid #fff;
}

#product-comparison-grid #labels {
	border-right:none;
	background-color:#D8DFAC;
	position:relative;
}

#comparison-grid .labels {
	background-color:#D8DFAC;
}

#comparison-grid th,#comparison-grid td {
	background-color:#f3f3f3;
	border:1px solid #fff;
	text-align:center;
}

#HD,#WM,#LD {
	background-color:#f3f3f3;
	position:relative;
}

#product-comparison-grid #LD,#WM {
	border-left:none;
}

#HD {
	border-right:none;
}

#product-comparison-grid .grid-group {
	float:left;
	width:165px;
	padding:5px;
}

#product-comparison-grid #labels {
	width:97px;
}

#product-comparison-grid h2.product {
	height:130px;
}

h2.product img {
	padding-top:5px;
}

#product-comparison-grid p.pricing,#product-comparison-grid p.sizes,#product-comparison-grid p.colors,#product-comparison-grid .grid-details p {
	border-bottom:2px solid #fff;
	padding:5px 0 0;
	line-height:16px;
}

#product-comparison-grid p.leg-gusset {
	border-bottom:none;
}

#product-comparison-grid .grid-details img {
	padding-top:10px;
}

#product-comparison-grid p.use {
	height:200px;
	border-bottom:2px solid #fff;
	border-top:2px solid #fff;
}

#product-comparison-grid p.colors {
	height:104px;
}

#product-comparison-grid p.hinges,#product-comparison-grid p.self-leveling,#product-comparison-grid p.legs,#product-comparison-grid p.shipping,#product-comparison-grid p.sizes,#product-comparison-grid p.pricing,#product-comparison-grid .grid-details p {
	height:50px;
}

#product-comparison-grid p.end-frame,#product-comparison-grid p.lockable,#product-comparison-grid p.panels {
	height:70px;
}

#product-comparison-grid #labels p,#product-comparison-grid #labels h2,#product-comparison-grid #labels div.use {
	text-align:right;
}

#product-comparison-grid #FS {
	font-size:18px;
	line-height:20px;
	width:190px;
	background-color:#ccc;
	border:3px solid #eee;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 5px 5px #888;
	-webkit-box-shadow:0 0 5px 5px #888;
	margin-top:-20px;
	padding:10px 20px 20px;
	z-index:3;
	position:relative;
}

#product-comparison-grid #FS h2.product {
	font-size:28px;
	padding-bottom:14px;
}

#product-comparison-grid #FS h3 {
	font-size:26px;
}

body.buyers-guide #toc {
	text-align:center;
	margin-bottom:-25px;
	color:#fff;
}

body.buyers-guide #toc a {
	color:#39bfdf;
	text-decoration:none;
}

#product-comparison-grid p.no {
	color:transparent;
}

body.all-products div.grid-details,body.overview div.grid-details,body.buyers-guide div.grid-details,body.healthflex div.grid-details {
	display:none;
}

body.all-products #product-comparison-grid,body.overview #product-comparison-grid,body.healthflex #product-comparison-grid {
	height:510px;
}

div#expand {
	text-align:right;
	margin-right:145px;
	z-index:1;
}

div#expand a {
	text-decoration:none;
	padding:10px;
	background-color:#ffcf2e;
	-webkit-border-bottom-right-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-moz-border-radius-bottomright:25px;
	-moz-border-radius-bottomleft:25px;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;
	font-weight:700;
	-moz-box-shadow:6px 0 4px -4px #888,-6px 0 4px -4px #888;
	-webkit-box-shadow:6px 0 4px -4px #888,-6px 0 4px -4px #888;
	box-shadow:6px 0 4px -4px #888,-6px 0 4px -4px #888;
	-webkit-transition:padding-bottom .2s ease-out;
	-moz-transition:padding-bottom .2s ease-out;
	-ms-transition:padding-bottom .2s ease-out;
	-o-transition:padding-bottom .2s ease-out;
	transition:padding-bottom .2s ease-out;
}

div#expand a:hover {
	padding-bottom:15px;
}

#manufacturers {
	clear:both;
}

body.buyers-guide #content h2.grid-header {
	border-top:2px dotted #ccc;
}

body.colors #main-topic {
	text-align:center;
	padding:20px 0;
	width:870px;
}

body.colors #scotchgard .wp-caption {
	background:none;
	border:none;
}

div#color-swatches {
	clear:both;
	margin-top:-20px;
	float:left;
	width:870px;
	position:relative;
}

div#colors-photo-gallery {
	padding-top:30px;
	float:left;
}

div#colors-photo-gallery .wp-caption,div#regular-colors .wp-caption,div#upgrade-colors .wp-caption {
	background:none;
	border:none;
	padding:none;
	position:relative;
}

div#colors-photo-gallery img {
	z-index:2;
}

div#colors-photo-gallery .wp-caption-text {
	font-size:18px;
	font-weight:700;
	display:block;
	margin-top:-5px;
	margin-bottom:5px;
}

div#colors-photo-gallery .wp-caption {
	padding-left:0;
	padding-right:0;
	margin-right:0;
}

div#regular-colors {
	border:2px solid #d2232a;
	width:420px;
	float:left;
	margin-right:8px;
	margin-left:3px;
	padding-top:9px;
}

div#upgrade-colors {
	border:2px solid #000;
	width:420px;
	float:left;
}

div#regular-colors div,div#upgrade-colors div {
	min-height:77px;
}

div#upgrade-colors h3 {
	font-size:14px;
	background-color:#ffcf2e;
	padding:5px;
	width:161px;
	margin-left:auto;
	margin-right:auto;
}

div#regular-colors h3 {
	font-size:14px;
	background-color:#d2232a;
	width:200px;
	margin-top:-26px;
	margin-left:50px;
	color:#fff;
	-webkit-border-top-left-radius:125px 20px;
	-webkit-border-top-right-radius:125px 20px;
	-moz-border-radius-topleft:125px 20px;
	-moz-border-radius-topright:125px 20px;
	border-top-left-radius:125px 20px;
	border-top-right-radius:125px 20px;
}

div#regular-colors h4,div#upgrade-colors h4 {
	text-align:left;
	padding:0 0 0 20px;
	margin:-10px 0 -12px;
	clear:both;
}

div#regular-colors .wp-caption,div#upgrade-colors .wp-caption {
	margin-right:-17px;
}

div#regular-colors .wp-caption-text,div#upgrade-colors .wp-caption-text {
	margin-top:-5px;
	font-size:7pt;
	line-height:7pt;
}

body.portable-classroom #main-topic p.call-to-action {
	float:right;
	clear:both;
	margin-top:-60px;
	margin-right:125px;
}

body.colors #colors-image {
	width:700px;
	height:320px;
	padding:0;
	margin:0;
	overflow:hidden;
	background-repeat:repeat-x;
	background-image:url(/wp-content/uploads/page-images/color-swatches.jpg);
	background-position:0 0;
	float:left;
}

body.special-use #colors-image {
	width:700px;
	height:330px;
	padding:0;
	margin:0;
	overflow:hidden;
	background-repeat:repeat-x;
	background-image:url(/wp-content/uploads/page-images/color-swatches.jpg);
	background-position:0 0;
	float:left;
}

#colors-image img {
	margin-bottom:0;
	margin-right:0;
}

#colors-image-content {
	float:left;
	width:160px;
}

#content p.call-to-action a,#byord-pricebutton,#frontpage-footer-widgeted p.call-to-action a {
	width:auto;
	white-space:nowrap;
	padding:10px 15px;
	background-color:#f9e08f;
	border:2px solid #004667;
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-moz-box-shadow:0 0 5px 5px #888;
	-webkit-box-shadow:0 0 5px 5px #888;
	box-shadow:0 0 5px 5px #888;
	color:#ec5f40;
	font-weight:700;
	text-decoration:none;
	position:relative;
	-webkit-transition:background-color .4s ease-out;
	-moz-transition:background-color .4s ease-out;
	-ms-transition:background-color .4s ease-out;
	-o-transition:background-color .4s ease-out;
	transition:background-color .4s ease-out;
	-webkit-transition:0 .4s ease-out;
	-moz-transition:0 .4s ease-out;
	-ms-transition:0 .4s ease-out;
	-o-transition:0 .4s ease-out;
	transition:box-shadow .4s ease-out;
}

#content p.call-to-action a:hover,#content a#byord-pricebutton:hover,#frontpage-footer-widgeted p.call-to-action a:hover {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#000;
}

body.health-care-landing #content {
	background:#fff;
	border:2px solid #fff;
	width:680px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	float:none;
	padding:0 0 20px;
	margin-bottom:20px;
	clear:both;
}

body.health-care-landing .wp-caption,body.health-care-landing p.wp-caption-text {
	background:transparent;
	border:0;
	text-align:left;
	font-size:16px;
	padding:0!important;
	font-weight:700;
}

body.health-care-landing div.healthcare-row {
	clear:both;
	padding:1.5em 0;
}

body.health-care-landing .bullet {
	width:200px;
	text-align:left;
	float:left;
}

body.health-care-landing #content h1.entry-title {
	text-align:center;
	margin-bottom:-55px;
	width:640px;
	background:transparent;
	z-index:10;
	text-indent:0;
}

body.health-care-landing a:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}

body.healthflex #content .healthflex-quote {
	float:left;
	margin-top:20px;
	width:350px;
	clear:none;
}

body.healthflex #subnav li.page-menu-label a {
	background:transparent;
	border:none;
	font-size:1.75em;
	line-height:1.25em;
	padding-left:15px;
	padding-bottom:0;
	color:#58585A;
	font-family:'Oswald',arial,serif;
}

body.page-id-20895 #product-comparison-grid,body.page-id-18473 #product-comparison-grid {
	width:700px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

body.page-id-20895 #expand,body.page-id-18473 #expand {
	margin-right:425px;
}

body.page-id-20895 #expand #moregrid,body.page-id-18473 #expand #moregrid {
	padding-top:15px;
}

#adWrap {
	display:none;
}

#content li.request-survey {
	clear:none;
	float:left;
	width:22%;
	border-left:1px solid #ccc;
}

#content li.no-left {
	border-left:none;
}

body.healthflex div#megaMenu,body.health-care div#megaMenu {
	border:none;
	background:transparent;
}

body.healthflex div#color-swatches {
	margin-top:20px;
}

body.healthflex div#regular-colors {
	width:75%;
}

/* Screenflex Product Codes */
.product-code h2,.product-code h3,.product-code h4,.product-code h5,.product-code h6 {
	text-align:center;
}

.product-code .wp-caption {
	background-color:#fff;
}

.product-code table {
	margin-left:auto;
	margin-right:auto;
	border-spacing:5px;
	padding-top:0;
	padding-bottom:2em;
}

.product-code h2.table-caption {
	padding-top:1.5em;
}

.product-code table th {
	background-color:#666;
	text-align:center;
	padding:5px;
	color:#fefefe;
}

.product-code table td {
	background-color:#ccc;
	padding:5px;
	text-align:center;
}

body.post-type-archive-review h2.section-head,body.post-type-archive-review small.review-map-caption {
	text-align:center;
	clear:both;
	display:block;
}

body.post-type-archive-review dd,body.post-type-archive-review div.reviewer {
	font-style:italic;
}

body.post-type-archive-review div.reviewer {
	margin-left:3em;
}

form.send-customer-list li.gfield,form.send-customer-list .gform_footer {
	clear:none!important;
	float:left;
	width:30%;
	margin:0 0 20px;
	padding-left:3%;
}

.after-entry-widgeted {
	padding:1em;
	background-color:#0d72c7;
	color:#ccc;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	width:50%;
}

.after-entry-widgeted p {
	color:#ccc;
}

.after-entry-widgeted h2.widgettitle label {
	font-size:.85em;
	color:#eee;
	font-weight:700;
	border-top:1px solid #eee;
}

a.post-edit-link {
	display:block;
	clear:both;
}

.divider-wrapper {
	position:relative;
}

.divider-sentence {
	margin:0;
	text-align:left;
	text-shadow:1px 1px 1px rgba(255,255,255,0.8);
}

.divider-sentence span {
	color:#222;
}

.divider-words {
	display:inline;
	text-indent:10px;
}

.divider-words-1 span {
	position:absolute;
	opacity:0;
	overflow:hidden;
	color:#222;
	-webkit-animation:rotateWord 9s 0 infinite linear;
	-moz-animation:rotateWord 9s 0 infinite linear;
	-o-animation:rotateWord 9s 0 infinite linear;
	-ms-animation:rotateWord 9s 0 infinite linear;
	animation:rotateWord 9s 0 infinite linear;
}

.divider-words-1 span:nth-child(2) {
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	-o-animation-delay:3s;
	-ms-animation-delay:3s;
	animation-delay:3s;
	color:#222;
}

.divider-words-1 span:nth-child(3) {
	-webkit-animation-delay:6s;
	-moz-animation-delay:6s;
	-o-animation-delay:6s;
	-ms-animation-delay:6s;
	animation-delay:6s;
	color:#222;
}

.divider-sentence-IE {
	display:none;
	padding:30px;
}

@-webkit-keyframes rotateWord {
	0% {
		opacity:0;
	}
	
	2% {
		opacity:0;
		-webkit-transform:translateY(-30px);
	}
	
	8% {
		opacity:1;
		-webkit-transform:translateY(0px);
	}
	
	26% {
		opacity:1;
		-webkit-transform:translateY(0px);
	}
	
	32% {
		opacity:0;
		-webkit-transform:translateY(30px);
	}
	
	80% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@-moz-keyframes rotateWord {
	0% {
		opacity:0;
	}
	
	2% {
		opacity:0;
		-moz-transform:translateY(-30px);
	}
	
	5% {
		opacity:1;
		-moz-transform:translateY(0px);
	}
	
	17% {
		opacity:1;
		-moz-transform:translateY(0px);
	}
	
	20% {
		opacity:0;
		-moz-transform:translateY(30px);
	}
	
	80% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@-o-keyframes rotateWord {
	0% {
		opacity:0;
	}
	
	2% {
		opacity:0;
		-o-transform:translateY(-30px);
	}
	
	5% {
		opacity:1;
		-o-transform:translateY(0px);
	}
	
	17% {
		opacity:1;
		-o-transform:translateY(0px);
	}
	
	20% {
		opacity:0;
		-o-transform:translateY(30px);
	}
	
	80% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@-ms-keyframes rotateWord {
	0% {
		opacity:0;
	}
	
	2% {
		opacity:0;
		-ms-transform:translateY(-30px);
	}
	
	5% {
		opacity:1;
		-ms-transform:translateY(0px);
	}
	
	17% {
		opacity:1;
		-ms-transform:translateY(0px);
	}
	
	20% {
		opacity:0;
		-ms-transform:translateY(30px);
	}
	
	80% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@keyframes rotateWord {
	0% {
		opacity:0;
	}
	
	2% {
		opacity:0;
		transform:translateY(-30px);
	}
	
	5% {
		opacity:1;
		transform:translateY(0px);
	}
	
	17% {
		opacity:1;
		transform:translateY(0px);
	}
	
	20% {
		opacity:0;
		transform:translateY(30px);
	}
	
	80% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@media only screen and (max-width: 960px) {
	.archive-page,.content-sidebar #content,.content-sidebar-sidebar #content,.footer-widgets-1,.footer-widgets-2,.footer-widgets-3,.full-width-content #content,.sidebar,.sidebar-content #content,.sidebar-content-sidebar #content,.sidebar-sidebar-content #content,#content-sidebar-wrap,#footer .creds,#footer .gototop,#footer-widgets .wrap,#sidebar-alt,#wrap,#tab-container {
		width:100%;
	}
	
	#content #main-topic .highlight-button,#content div#main-topic ul#feature-descriptions,body.features #content #main-top-description {
		display:none;
	}
	
	#wrap {
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
		margin:0;
	}
	
	#description,#footer .creds,#footer .gototop,#title,#title-area {
		float:none;
		text-align:center;
	}
	
	#title-area {
		padding:10px 0;
	}
	
	#description,#title a,#title a:hover {
		padding:0;
	}
	
	#header .widget-area {
		padding:0 0 10px;
	}
	
	#header .searchform {
		float:none;
		padding:0;
		text-align:center;
	}
	
	#header .s {
		margin:0 -7px 0 0;
	}
	
	.menu li.right {
		display:none;
	}
	
	.breadcrumb,.navigation,.sidebar .widget,.taxonomy-description {
		margin:0 20px 20px;
	}
	
	#content {
		padding:0;
	}
	
	.page .page,.post,#comments,#respond {
		padding:0 20px;
	}
	
	.author-box {
		margin:0 20px 40px;
	}
	
	#footer-widgets .widget {
		padding:20px 20px 0;
	}
	
	#footer-widgets .wrap {
		padding:0;
	}
	
	.footer-widgets-1,.footer-widgets-2,.footer-widgets-3 {
		margin:0;
	}
	
	#wrap #header {
		background:#58585A url(images/2014_header_logo_600x82.gif) no-repeat!important;
	}
	
	.header-image #title-area,.header-image #title,.header-image #title a {
		max-width:600px;
	}
	
	#header .widget-area {
		max-width:165px;
	}
	
	#footer {
		width:100%;
	}
	
	img {
		max-width:96%;
	}
	
	.wp-caption {
		max-width:96%!important;
	}
	
	.wp-caption img {
		max-width:98%!important;
	}
	
	#nav #megaMenu ul.megaMenu>li>a,#nav #megaMenu ul.megaMenu>li>span.um-anchoremulator {
		padding:.65em 1.3em;
	}
	
	#main-topic {
		max-width:100%;
	}
	
	body.buyers-guide #inner,body.buyers-guide #wrap {
		overflow:visible;
		min-width:960px;
	}
	
	#tab-info-request #tab-info-request-text {
	/* This is not working
			position: absolute;
			bottom: 0;
			/*
		}
	}
	
	@media only screen and (max-width: 768px) {
	/*			.divider-sentence { font-size: 18px; }  */
		#wrap#headerbackground:#dcdcdc url(images/2014_header_logo_160x82.gif) no-repeat!important;
	}
	
	#header .widget-area {
		max-width:185px;
		background-color:#dcdcdc;
		color:#58585A;
	}
	
	#header .widget-area #phone {
		color:#58585A;
	}
	
	.header-image #title-area,.header-image #title,.header-image #title a {
		max-width:150px!important;
	}
	
	#footernav ul#menu-footer {
		width:100%;
	}
	
	#content h2.value-statement {
		position:relative;
		white-space:nowrap;
		clear:both;
		text-align:center;
	}
	
	div#subnav {
		margin-bottom:1em;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}
	
	body.colors #main-topic,div#color-swatches,div#upgrade-colors,div#regular-colors {
		width:95%;
	}
	
	div#colors-image {
		width:100%;
		height:auto;
	}
	
	div#inner {
		padding-left:2px;
		padding-right:2px;
	}
	
	#main-topic {
		padding-left:2px;
		padding-right:2px;
	}
	
	.photo-use {
		display:none!important;
	}
	
	body.home h2.secondary-seo-title {
		max-width:100%;
		width:100%;
	}
}

@media only screen and (max-width: 710px) {
	div#BYORD {
		width:100%;
		background:#fff;
		padding-left:10px;
		padding-right:10px;
	}
	
	div#roomdividerbuilder {
		width:100%;
	}
	
	#byord-header {
		display:inline;
	}
	
	div.selector {
		width:100%;
	}
	
	div#buttons {
		width:100%;
	}
	
	div#buttons div {
		width:100%;
	}
	
	#otherLengthBox {
		padding-top:10px;
		width:100%;
		margin-left:0 auto;
		margin-right:0 auto;
	}
	
	table#FSLcodes td:last-child {
		display:none;
	}
	
	body.home h2.secondary-seo-title {
		margin-bottom:auto;
		padding:0;
		text-indent:0;
		text-align:center;
	}
}

@media only screen and (max-width: 600px) {
	.product h1.entry-title,.special-use h1.entry-title {
		text-indent:0;
		position:relative;
	}
	
	.menu-secondary {
		display:none;
	}
	
	.responsiveMenuSelect {
		display:inline-block;
	}
	
	.menu-primary li,.menu-primary li ul,.menu-primary li ul a,.menu-secondary li,.menu-secondary li ul,.menu-secondary li ul a,#header .menu li,#header .menu li ul,#header .menu li ul a,.main-content {
		width:100%;
	}
	
	.five-sixths,.four-fifths,.four-sixths,.one-fifth,.one-fourth,.one-half,.one-sixth,.one-third,.three-fifths,.three-fourths,.three-sixths,.two-fifths,.two-fourths,.two-sixths,.two-thirds {
		padding:0;
		width:100%;
	}
	
	.page .page,.post,#comments,#respond {
		padding-left:3px;
		padding-right:3px;
	}
	
	body.home #main-topic a {
		width:100%!important;
		clear:both!important;
		float:none;
		text-align:center;
		margin-top:5px!important;
		margin-bottom:5px!important;
		padding:0!important;
		position:relative;
	}
	
	body.home #main-topic a img {
		float:none!important;
		margin:none!important;
		padding:none!important;
	}
	
	.menu-primary li a,.menu-secondary li a,#header .menu li a {
		margin:0;
		padding:7px 3%;
	}
	
	.menu li li a .sf-sub-indicator,.menu li li li a .sf-sub-indicator {
		background:url(images/icon-plus-white.png) right no-repeat;
	}
	
	.menu-primary li li a,.menu-primary li li a:link,.menu-primary li li a:visited,.menu-secondary li li a,.menu-secondary li li a:link,.menu-secondary li li a:visited,#header .menu li li a,#header .menu li li a:link,#header .menu li li a:visited {
		background:none;
		color:#fff;
		padding:7px 3%;
		width:94%;
	}
	
	.menu-primary li ul,.menu-secondary li ul,#header .menu li ul {
		background:#333;
		clear:both;
		margin:0;
		padding:0;
		position:inherit;
	}
	
	.menu-primary li ul ul,.menu-secondary li ul ul,#header .menu li ul ul {
		background:#666;
	}
	
	.menu-primary li ul ul ul,.menu-secondary li ul ul ul,#header .menu li ul ul ul {
		background:#999;
	}
	
	.menu-primary li ul ul,.menu-secondary li ul ul,#header .menu li ul ul {
		margin:0;
	}
	
	#header .widget-area {
		max-width:160px!important;
		padding:0;
	}
	
	#header .widget-area .textwidget {
		width:100%;
		padding:0;
	}
	
	#footernav ul#menu-footer li.menu-item-4956,#footernav ul#menu-footer li.menu-item-7101 {
		display:none;
	}
	
	#content #value-statement-groups {
		padding:0;
	}
	
	#content #value-statement-groups .value-statement-group {
		border:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
		-moz-border-radius:none;
		-khtml-border-radius:none;
		-webkit-border-radius:none;
		border-radius:none;
		padding-left:0;
		padding-right:0;
	}
	
	#content #value-statement-groups .value-statement-group .alignright {
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
	
	#livechat {
		position:static;
		display:block;
		width:100%;
		height:auto;
		float:none;
		text-align:center;
	}
	
	#room-divider-live-chat img {
		filter:alpha(opacity=1);
		opacity:1;
	}
	
	div#livechat:hover {
		width:100%;
		opacity:1;
	}
	
	div.photo h2.entry-title {
		min-height:intrinsic;
	}
	
	div.photo div.post-meta {
		display:none;
	}
	
	.avatar,.featuredpage img,.featuredpost img,.post-image,.featuredpost a,.featuredpage a,body.archive img.alignleft,body.archive img.alignright,h2.featured-post-header a {
		display:block!important;
		margin:0 auto 2px!important;
		clear:both!important;
		float:none;
	}
	
	table#FSLcodes th,table#FSLcodes td.panelheight,table#FSLcodes td.dividerlength {
		font-size:10px!important;
	}
	
	#products-submenu img,#products-submenu .menu-header {
		display:none!important;
	}
	
	body.home h2.secondary-seo-title {
		font-size:1.5em;
	}
	
	form.send-customer-list li.gfield,form.send-customer-list .gform_footer {
		clear:both!important;
		width:100%;
	}
}

@media only screen and (max-width: 320px) {
	/*			.divider-sentence { font-size: 9px; } */
	.breadcrumb {
		display:none;
	}
}

@-webkit-keyframes bluePulse {
	from {
		-webkit-box-shadow:0 0 9px #333;
	}
	
	50% {
		-webkit-box-shadow:0 0 18px #2daebf;
	}
	
	to {
		-webkit-box-shadow:0 0 9px #333;
	}
}

@-moz-keyframes bluePulse {
	from {
		-moz-box-shadow:0 0 9px #333;
	}
	
	50% {
		-moz-box-shadow:0 0 18px #2daebf;
	}
	
	to {
		-moz-box-shadow:0 0 9px #333;
	}
}

@keyframes bluePulse {
	from {
		box-shadow:0 0 9px #333;
	}
	
	50% {
		box-shadow:0 0 18px #2daebf;
	}
	
	to {
		box-shadow:0 0 9px #333;
	}
}

@-webkit-keyframes redPulse {
	from {
		-webkit-box-shadow:0 0 9px #333;
	}
	
	50% {
		-webkit-box-shadow:0 0 18px #e33100;
	}
	
	to {
		-webkit-box-shadow:0 0 9px #333;
	}
}

@-moz-keyframes redPulse {
	from {
		-moz-box-shadow:0 0 9px #333;
	}
	
	50% {
		-moz-box-shadow:0 0 18px #e33100;
	}
	
	to {
		-moz-box-shadow:0 0 9px #333;
	}
}

@keyframes redPulse {
	from {
		box-shadow:0 0 9px #333;
	}
	
	50% {
		box-shadow:0 0 18px #e33100;
	}
	
	to {
		box-shadow:0 0 9px #333;
	}
}

/*Dealersf customizations */
body.dealersf div#livechat,body.dealersf #quoteBox,body.dealersf #phone,body.dealersf .phone,body.dealersf a[href*="/where-to-buy/"],body.dealersf .call-to-action,body.dealersf a[href*="/quote-confirmation/"],body.dealersf #BYORD #buttons,body.dealersf #gform_wrapper_3,body.dealersf a[href*="/contact-us/"],body.dealersf a[href*="/how-to-buy/"],body.dealersf a[href*="/thank-you/"],body.dealersf a[href*="/request-quote/"],body.dealersf .not-dealersf {
	display:none!important;
	visibility:hidden!important;
}

body.dealersf .not-screenflex {
	display:block!important;
}