/******** NOTES
Images that are not referenced within this CSS files
==
loading_chat.gif - should be exactly 16x16 pixels.  it is used for the "loading" indication when submitting the message
*/

* { margin: 0; }
html, body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12px; color: #686868; background: #FDFDFD; height: 100%; width: 100%; overflow: hidden; }

a:link, .alink{color: #A0A0A0; }
a:active{color: #A0A0A0; }
a:visited{color: #A0A0A0; }
a:hover{color: #686868; }
.alink{ text-decoration: underline; cursor: pointer; }
.nounder{ text-decoration: none; cursor: pointer; }

.online{ background: #C2FF91; }
.offline{ background: #FFC4BC; }

/* text colors used in various areas */
.text_blue{ color: #205560; }
.text_grey{ color: #BBBBBB; }
.text_trans_view_td{ color: #949494; }

.co, .cv, .ca, .cl, .cn, .cc{ padding: 5px; }
.co{ background: url(chat_co.png) no-repeat; padding-left: 20px; color: #7F8BC0; }
.cv{ background: url(chat_cv.png) no-repeat; padding-left: 20px; color: #2F2F2F; }
.ca{ background: transparent; color: #737373; margin-bottom: 5px; }
.cl{ background: #EFEFF1; color: #939393; margin-bottom: 5px; }
.cn{ background: #EFEFF1; color: #939393; margin-bottom: 5px; }
.ctitle{ font-size: 14px; font-weight: bold; }
.ct{ font-weight: normal; font-size: 10px; } /* timestamp */

#chat_logo{ background: #FDFDFD; }
#chat_vname, #chat_vtimer, #chat_vistyping, #chat_settings{ color: #686868; }

#chat_canvas{ background: #FDFDFD; border-top: 1px solid #DFDFE1; }
.chat_canvas_op{ background-position: 0px 19px; }
.chat_canvas_alert{ background: #CFCFD1 !important; }
#chat_switchboard{ background: #FDFDFD; background-position: bottom center; border-bottom: 1px solid transparent; }
.chat_switchboard_cell{ color: #646464; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_focus{ background: #646464; font-weight: bold; color: #F7F7F7; margin-right: 5px; }
.chat_switchboard_cell_bl_red{ background: #FF7676; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_bl_green{ background: #17C61B; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }

input[type=text], .input_text, #input_text, select, textarea, #chat_body, #tooltip, .info_box, .info_error, .info_good, .info_warning, .info_neutral, .info_content, .page, .page_focus, .cn, #reconnect_notice, .sound_box_on, .sound_box_off, #div_new_canned, .cl{ -moz-border-radius: 5px; border-radius: 5px; }
.chat_info_menu, .chat_info_menu_focus, .chat_info_menu_hover, .chat_info_td_t{ border-top-left-radius: 5px 5px; -moz-border-radius-topleft: 5px 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
.noround{ -moz-border-radius: 0px; border-radius: 0px; }



.chat_info_wrapper{ }
#chat_info_header{ color: #FFFFFF; padding: 3px; }
#chat_info_menu_list{ border-bottom: 1px solid #E4E8F1; }
.chat_info_menu{ float: left; padding: 3px; color: #9C9C9C; margin-right: 5px; background: #FDFDFD; border-top: 1px solid #E4E8F1; border-left: 1px solid #E4E8F1; border-right: 1px solid #E4E8F1; cursor: pointer; }
.chat_info_menu_hover, .chat_info_menu_focus{ position: relative; bottom: -1px; float: left; padding: 3px; color: #888888; text-shadow: #F8F8FA -1px 1px; margin-right: 5px; background: url( info_focus.png ) repeat-x #F0F0F2; border-top: 1px solid #D9D9DB; border-left: 1px solid #D9D9DB; border-right: 1px solid #D9D9DB; cursor: pointer; }
#chat_info_body{ padding: 5px; background: #F0F0F2; border-left: 1px solid #E4E8F1; border-right: 1px solid #E4E8F1; }
.chat_info_td_t{ padding: 5px; background: #EFEFEF; font-weight: bold; margin-right: 1px; } /* th header */
.chat_info_td_h{ background: #FFFFFF; color: #AEAEAE; padding: 5px; border-bottom: 1px solid #F0F0F2; } /* info th */
.chat_info_td{ background: #F7F7F7; padding: 5px; border-bottom: 1px solid #F0F0F2; }
.chat_info_td_traffic{ padding: 5px; }
.chat_info_td_traffic_info{ padding: 5px; background: #FFFFFF; font-weight: bold; }
.chat_info_td_traffic_img{ background: #E2E9EF; }
.chat_info_td_blank{ padding: 5px; }
.chat_info_end{ height: 1px; }
.chat_info_tr_traffic_row{ background: #F0F0F0; }

.chat_info_link{ cursor: pointer; }

/* for #chat_body don't go past 10px padding or layout error */
#chat_body{ background: #FFFFFF; color: #686868; border: 1px solid transparent; }
#chat_button_start{ }

#chat_text_header{ font-size: 18px; font-weight: bold; }
#chat_text_header_sub{ }
#chat_text_powered{ font-size: 10px; }

#chat_footer{ background: #F7F7F7; border-top: 1px solid #DFDFE1; color: #2F2F2F; }
.chat_footer_cell{ float: left; padding: 6px; font-weight: bold; color: #888888; text-shadow: #FFFFFF -1px 1px; cursor: pointer; }
.chat_footer_cell_focus{ float: left; background: #CECECE; color: #FDFDFD; padding: 6px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_noclick{ float: left; padding: 3px; }
#chat_footer_traffic_counter{ padding: 2px; background: #FFFFFF; border: 1px solid transparent; color: #2F2F2F; }
#chat_extra_wrapper{ background: #FFFFFF; }
#chat_extra_title{ background: #FFFFFF; color: #909090; border-top: 1px solid #EFEFEF; border-bottom: 1px solid #EFEFEF; }

.rating_title{ color: #686868 }
.marquee{ font-weight: bold; color: #646464; text-shadow: #FFFFFF -1px 1px; }

.info_box{ background: #E5E5E7; padding: 5px; color: #939393; }
.info_error{ background: #F67975; padding: 5px; color: #FFFFFF; }
.info_good{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.info_neutral{ background: #FAFAFA; padding: 5px; color: #6D6D71; }
.info_warning{ background: #FFE8C4; padding: 5px; color: #5A5245; }
.info_content{ background: #F0F0F0; padding: 5px; color: #5A5245; border: 1px solid #DFDFDF; }

.sound_box_on{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.sound_box_off{ background: #F55054; padding: 5px; color: #FFFFFF; }
#div_new_canned{ background: #FBF7B4; padding: 5px; color: #806732; }

.info_disconnect{ padding: 3px; background: #FC8400; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }
.info_disconnect_hover{ padding: 3px; background: #EE3C3C; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }

/* canned messages related */
#chat_cans{ border-right: 1px dotted #C5C5C5; }
.chat_cans_text_new{ font-size: 10px; }
#canned_wrapper, #canned_box_new, #footprint_info_wrapper{ background: #FDFDFD; padding: 10px;}
#canned_box_new{ padding: 15px; }
#canned_text_title{ color: #686868; font-size: 16px; font-weight: bold; }
#canned_box_oc{ width: 110px; text-align: center; }
#canned_select{ font-size: 10px; border: 1px solid #C5C5C5; }
#canned_select_btn{ font-size: 10px; margin-top: 5px; }

/* status related */
#chat_status{ }
#chat_status_offline{ background: #FF9C9C; }
#chat_status_offline_text{ background: #FFFFFF; color: #E58989; }
#chat_status_logout{ background: #FF9C9C; width: 100%; }

#chat_network{ border-left: 1px dotted #C5C5C5;}
#chat_network_img{ background: url( network.png ) no-repeat; }

/* page related *****/
.page_top_wrapper{ margin-bottom: 15px; }
.page_bottom_wrapper{ margin-top: 15px; }
.page, .page_focus{ float: left; padding: 2px; padding-left: 5px; padding-right: 5px; margin-right: 10px; }
.page{ border: 1px solid #F4F4F4; background: #F7F7F7; color: #686868; cursor: pointer; }
.page_focus{ font-weight: bold; border: 1px solid #F0F0F0; background: #FFFFFF; }
/* end page related */

.t_tl{ background: #FDFDFD; width: 5px; height: 5px; }
.t_tm{ background: #FDFDFD; height: 5px; }
.t_tr{ background: #FDFDFD; width: 5px; height: 5px; }
.t_ml{ background: #FDFDFD; width: 5px; }
.t_mr{ background: #FDFDFD; width: 5px; }
.t_bl{ background: #FDFDFD; width: 5px; height: 5px; }
.t_bm{ background: #FDFDFD; height: 5px; }
.t_br{ background: #FDFDFD; width: 5px; height: 5px; }
.t_mm{ background: #FDFDFD; padding: 10px; }

#input_text, .input_text, .input_text_search{ background: #FFFFFF; border: 1px solid #DFDFE1; padding: 2px; }
select{ border: 1px solid #ABADB5; padding: 3px; }

#tooltip { position: absolute; z-index: 3000; background: #FAFAA6; padding: 5px; color: #8B6824; white-space: nowrap; }
#tooltip h3, #tooltip div { margin: 0; }
#btn_initiate{  }

.help_tooltip{ cursor: pointer; }
.help_tooltip_help{ cursor: help; }
#tooltip.urls { }

.menu_traffic_info, .menu_traffic_info_focus{ padding: 5px; margin-right: 5px; float: left; cursor: pointer; border-top-left-radius: 5px 5px; -moz-border-radius-topleft: 5px 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
.menu_traffic_info{ background: #EFEFEF; color: #9C9C9C; font-weight: bold; }
.menu_traffic_info_focus{ font-weight: bold; border: 1px solid #EFEFEF; border-bottom: 0px; }
#chat_widget_options{ color: #676464; background: #D8DADF; padding: 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
