/******** NOTES
Images that are not referenced within this CSS files
==
loading_chat.gif - should be exactly 16x16 pixels.  it is used for the "loading" indication when submitting the message
*/

* { margin: 0; }
html, body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12px; color: #73706A; background: #E1DBCF; height: 100%; width: 100%; overflow: hidden; }

a:link, .alink{color: #73706A; }
a:active{color: #73706A; }
a:visited{color: #73706A; }
a:hover{color: #73706A; }
.alink{ text-decoration: underline; cursor: pointer; }
.nounder{ text-decoration: none; cursor: pointer; }

.online{ background: #C2FF91; }
.offline{ background: #FFC4BC; }

/* text colors used in various areas */
.text_blue{ color: #205560; }
.text_grey{ color: #BBBBBB; }
.text_trans_view_td{ color: #949494; }

.co, .cv, .ca, .cl, .cn, .cc{ padding: 5px; }
.co{ background: url(chat_co.png) no-repeat; padding-left: 20px; color: #73706A; }
.cv{ background: url(chat_cv.png) no-repeat; padding-left: 20px; color: #212121; }
.ca{ background: url( glass_tan.png ) repeat-x #F5EEE1; color: #505769; border-bottom: 1px solid #C7C2B7; margin-bottom: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.cl{ background: url( glass_yellow.png ) repeat-x #FBEBB9; color: #806732; margin-bottom: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.cn{ background: url( glass_green.png ) repeat-x #DCE7CF; color: #284307; margin-bottom: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.ctitle{ font-size: 14px; font-weight: bold; }
.ct{ font-weight: normal; font-size: 10px; } /* timestamp */

#chat_logo{ background: #FFFFFF; }
#chat_vname, #chat_vtimer, #chat_vistyping, #chat_settings{ color: #8E8E8F; text-shadow: #FFFFFF 1px 1px; }

#chat_canvas{ background:#E1DBCF; border-top: 1px solid transparent; }
.chat_canvas_op{ background-position: 0px 19px; }
.chat_canvas_alert{ background: #CCC7BC !important; }
#chat_switchboard{ background: #C7C2B7; background-position: bottom center; border-bottom: 1px solid #A19D94; }
.chat_switchboard_cell{ color: #F5EEE1; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_focus{ background: url( bg_switchboard_focus.gif ) repeat-x; font-weight: bold; text-shadow: #ECEDF0 -1px 1px; color: #5B5954; margin-right: 5px; }
.chat_switchboard_cell_bl_red{ background: #FF7676; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_bl_green{ background: #17C61B; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }

input[type=text], .input_text, #input_text, select, textarea, #chat_body, #tooltip, .info_box, .info_error, .info_good, .info_warning, .info_neutral, .info_content, .page, .page_focus, .cn, #reconnect_notice, .sound_box_on, .sound_box_off, #div_new_canned{ -moz-border-radius: 5px; border-radius: 5px; }
.chat_info_menu, .chat_info_menu_focus, .chat_info_menu_hover, .chat_info_td_t{ border-top-left-radius: 5px 5px; -moz-border-radius-topleft: 5px 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
.noround{ -moz-border-radius: 0px; border-radius: 0px; }



.chat_info_wrapper{ }
#chat_info_header{ color: #FFFFFF; padding: 3px; }
#chat_info_menu_list{ border-bottom: 1px solid #A19D94; }
.chat_info_menu{ float: left; padding: 3px; text-shadow: #ECEDF0 -1px 1px; color: #73706A; margin-right: 5px; background: #C7C2B7; border-top: 1px solid #A19D94; border-left: 1px solid #A19D94; border-right: 1px solid #A19D94; cursor: pointer; }
.chat_info_menu_hover, .chat_info_menu_focus{ position: relative; bottom: -1px; float: left; padding: 3px; text-shadow: #ECEDF0 -1px 1px; color: #73706A; margin-right: 5px; background: url( bg_switchboard_focus.gif ) repeat-x; border-top: 1px solid #A19D94; border-left: 1px solid #A19D94; border-right: 1px solid #A19D94; cursor: pointer; }
#chat_info_body{ padding: 5px; background: #CCC7BC; border-left: 1px solid #A19D94; border-right: 1px solid #A19D94; }
.chat_info_td_t{ padding: 5px; background: #C7C2B7; font-weight: bold; color: #F7F4EA; margin-right: 1px; } /* for titles */
.chat_info_td_h{ background: #F7F4EA; color: #838079; padding: 5px; border-bottom: 1px solid #E1DBCF; } /* for td title */
.chat_info_td{ background: #F5EEE1; padding: 5px; border-bottom: 1px solid #E1DBCF; }
.chat_info_td_traffic{ padding: 5px; }
.chat_info_td_traffic_info{ padding: 5px; font-weight: bold; }
.chat_info_td_traffic_img{ background: #C7C2B7; }
.chat_info_td_blank{ padding: 5px; }
.chat_info_end{ height: 1px; }
.chat_info_tr_traffic_row{ background: url( glass_tan.png ) repeat-x #EAE7DE; }

.chat_info_link{ cursor: pointer; }

/* for #chat_body don't go past 10px padding or layout error */
#chat_body{ background: #E1DBCF; border: 1px solid transparent; }
#chat_button_start{ }

#chat_text_header{ font-size: 18px; font-weight: bold; }
#chat_text_header_sub{ }
#chat_text_powered{ font-size: 10px; }

#chat_footer{ background: url( bg_switchboard_focus.gif ) repeat-x; border-top: 1px solid #B5B1A6; color: #2F2F2F; }
.chat_footer_cell{ float: left; padding: 6px; font-weight: bold; color: #5B5954; text-shadow: #ECEDF0 -1px 1px; cursor: pointer; }
.chat_footer_cell_focus{ float: left; background: #A19D94; color: #F5EEE1; padding: 6px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_noclick{ float: left; padding: 3px; }
#chat_footer_traffic_counter{ padding: 2px; background: #FFFFFF; border: 1px solid #A19D94; color: #73706A; }
#chat_extra_wrapper{ background: #E1DBCF; }
#chat_extra_title{ background: #FFFFE1; color: #8D90A8; border-top: 1px solid #BDBDA7; border-bottom: 1px solid #A19D94 }

.rating_title{ color: #73706A; }
.marquee{ font-weight: bold; color: #73706A; text-shadow: #ECEDF0 -1px 1px; }

.info_box{ background: #FBF7B4; border: 1px solid #FFE221; padding: 5px; color: #806732; }
.info_error{ background: #F55054; border: 1px solid #BA3D40; padding: 5px; color: #FFFFFF; }
.info_good{ background: #43CB00; border: 1px solid #36A400; padding: 5px; color: #FFFFFF; }
.info_neutral{ background: #F5EEE1; border: 1px solid #D6D6D6; padding: 5px; color: #6D6D71; }
.info_warning{ background: #FFE8C4; border: 1px solid #E1CDAD; padding: 5px; color: #5A5245; }
.info_content{ background: #D8D2C7; border: 1px solid #C7C2B7; padding: 5px; color: #5A5245; }

.sound_box_on{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.sound_box_off{ background: #F55054; padding: 5px; color: #FFFFFF; }
#div_new_canned{ background: #FBF7B4; padding: 5px; color: #806732; }

.info_disconnect{ padding: 3px; background: #FC8400; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }
.info_disconnect_hover{ padding: 3px; background: #EE3C3C; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }

/* canned messages related */
#chat_cans{ border-right: 1px dotted #A19D94; }
.chat_cans_text_new{ font-size: 10px; }
#canned_wrapper, #canned_box_new, #footprint_info_wrapper{ background: #E1DBCF; padding: 10px;}
#canned_text_title{ color: #73706A; font-size: 16px; font-weight: bold; }
#canned_box_oc{ width: 110px; text-align: center; }
#canned_select{ font-size: 10px; border: 1px solid #A19D94; }
#canned_select_btn{ font-size: 10px; margin-top: 5px; }

/* status related */
#chat_status{ }
#chat_status_offline{ background: #FFBF98; }
#chat_status_offline_text{ background: #FFFFFF; color: #E58989; }
#chat_status_logout{ background: #FFBF98; width: 100%; }

#chat_network{ border-left: 1px dotted #A19D94;}
#chat_network_img{ background: url( network.png ) no-repeat; }

/* page related *****/
.page_top_wrapper{ margin-bottom: 15px; }
.page_bottom_wrapper{ margin-top: 15px; }
.page, .page_focus{ float: left; padding: 2px; padding-left: 5px; padding-right: 5px; margin-right: 10px; }
.page{ border: 1px solid #C7C2B7; background: #E1DBCF; color: #A19D94; cursor: pointer; }
.page_focus{ font-weight: bold; border: 1px solid #F0F0F0; background: #F7F4EA; }
/* end page related */

.t_tl{ background: url( bg_box.png ) top left no-repeat; width: 5px; height: 5px; }
.t_tm{ background: url( bg_box_middle.png ) top left repeat-x; height: 5px; }
.t_tr{ background: url( bg_box.png ) top right no-repeat; width: 5px; height: 5px; }
.t_ml{ background: url( bg_box.png ) center left no-repeat; width: 5px; }
.t_mr{ background: url( bg_box.png ) center right no-repeat; width: 5px; }
.t_bl{ background: url( bg_box.png ) bottom left no-repeat; width: 5px; height: 5px; }
.t_bm{ background: url( bg_box_middle.png ) bottom center repeat-x; height: 5px; }
.t_br{ background: url( bg_box.png ) bottom right no-repeat; width: 5px; height: 5px; }
.t_mm{ background: #F7F4EA; padding: 10px; }

#input_text{ border: 1px solid #E1DBCF; }
.input_text, .input_text_search{ border: 1px solid #E1DBCF; }
.input_text, #input_text{ background: #F7F4EA; padding: 2px; }
.input_text_search{ background: #DFDACC; padding: 2px; }
select{ background: #F7F4EA; border: 1px solid #E1DBCF; padding: 3px; }

#tooltip { position: absolute; z-index: 3000; background: #FAFAA6; border: 1px solid #FED22F; padding: 5px; color: #8B6824; white-space: nowrap; }
#tooltip h3, #tooltip div { margin: 0; }
#btn_initiate{ }

.help_tooltip{ cursor: pointer; }
.help_tooltip_help{ cursor: help; }
#tooltip.urls { }

.menu_traffic_info, .menu_traffic_info_focus{ padding: 5px; margin-right: 5px; float: left; cursor: pointer; border-top-left-radius: 5px 5px; -moz-border-radius-topleft: 5px 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
.menu_traffic_info{ background: #C7C2B7; color: #F7F4EA; font-weight: bold; }
.menu_traffic_info_focus{ font-weight: bold; border: 1px solid #C7C2B7; border-bottom: 0px; }
#chat_widget_options{ color: #676464; background: #D8DADF; padding: 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
