/******** NOTES
Images that are not referenced within this CSS files
==
loading_chat.gif - should be exactly 16x16 pixels.  it is used for the "loading" indication when submitting the message
*/

* { margin: 0; }
html, body { margin: 0px; font-family: Arial; font-size: 12px; color: #3671AC; height: 100%; width: 100%; overflow: hidden; }

a:link, .alink{color: #3F84C9; }
a:active{color: #3F84C9; }
a:visited{color: #3F84C9; }
a:hover{color: #4B9DEF; }
.alink{ text-decoration: underline; cursor: pointer; }
.nounder{ text-decoration: none; cursor: pointer; }

.online{ background: #C2FF91; }
.offline{ background: #FFC4BC; }

/* text colors used in various areas */
.text_blue{ color: #205560; }
.text_grey{ color: #BBBBBB; }
.text_trans_view_td{ }

.co, .cv, .ca, .cl, .cn, .cc{ padding: 5px; }
.co{ background: url(chat_co.png) no-repeat; background-position: 0px 5px; padding-left: 20px; color: #486899; }
.cv{ background: url(chat_cv.png) no-repeat; background-position: 0px 5px; padding-left: 20px; color: #2FB400; }
.ca{ background: url(snowflake.png) no-repeat; background-position: 0px 5px; padding-left: 20px; margin-bottom: 5px; }
.cl{ background: #DEE9FE; color: #486899; margin-bottom: 5px; }
.cn{ margin-bottom: 5px; }
.ctitle{ font-size: 14px; font-weight: bold; color: #486899; }
.ct{ font-weight: normal; font-size: 10px; } /* timestamp */

#chat_logo{ background: #FFFFFF; }
#chat_vname, #chat_vtimer, #chat_vistyping, #chat_settings{ font-weight: bold; text-shadow: #FFFFFF 1px 1px; }
#chat_vtimer{ padding: 2px; }

#chat_canvas{ background: url( bg_chat.jpg ) no-repeat; background-position: bottom center; border-top: 1px solid #3F84C9; }
.chat_canvas_op{ background-position: 0px 19px; }
.chat_canvas_alert{ background: #4083C9 !important; }
#chat_switchboard{ background: transparent; border-bottom: 1px solid transparent; }
.chat_switchboard_cell{ background: #387FC6; color: #F0F0F2; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_focus{ background: #E6EBF4; font-weight: bold; margin-right: 5px; }
.chat_switchboard_cell_bl_red{ background: #FF7676; color: #FFE5E5; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_bl_green{ background: #BDF88A; color: #7E987E; font-weight: bold; margin-right: 5px; cursor: pointer; }

input[type=text], .input_text, #input_text, select, textarea, #chat_body, #tooltip, .info_box, .info_error, .info_good, .info_warning, .info_neutral, .info_content, .page, .page_focus, .cn, #reconnect_notice, .sound_box_on, .sound_box_off, #div_new_canned, #chat_footer_traffic_counter, .ca, .cl, .cn, #chat_vtimer, .rating_title{ -moz-border-radius: 5px; border-radius: 5px; }
.chat_info_menu, .chat_info_menu_focus, .chat_info_menu_hover, .chat_info_td_t, .chat_footer_cell, .chat_footer_cell_focus{ border-top-left-radius: 5px 5px; -moz-border-radius-topleft: 5px 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
.chat_switchboard_cell, .chat_switchboard_cell_focus, .chat_switchboard_cell_bl_green, .chat_switchboard_cell_bl_red{ border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; border-bottom-right-radius: 5px 5px; -moz-border-radius-bottomright: 5px 5px; }
.noround{ -moz-border-radius: 0px; border-radius: 0px; }



.chat_info_wrapper{ }
#chat_info_header{ color: #FFFFFF; padding: 3px; }
#chat_info_menu_list{ border-bottom: 0px solid; }
.chat_info_menu{ float: left; padding: 3px; margin-right: 5px; color: #7BA3D7; background: url( bg_info_menu.gif ) repeat; border: 1px solid #C2D8F8; cursor: pointer; }
.chat_info_menu_hover, .chat_info_menu_focus{ position: relative; float: left; padding: 3px; margin-right: 5px; color: #3F84C9; text-shadow: #FFFFFF 1px 1px; background: url( bg_info_menu_focus.gif ) repeat; border: 1px solid #F3F7FD; cursor: pointer; }
#chat_info_body{ padding: 5px; background: #F9FBFE; border-left: 1px solid transparent; border-right: 1px solid transparent; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px;  opacity: 0.9; filter: alpha(opacity=90); }
.chat_info_td_t{ padding: 5px; background: #7BA3D7; color: #F9FBFE; font-weight: bold; margin-right: 1px; } /* for general info td title */
.chat_info_td_h{ padding: 5px; padding-left: 0px; } /* used for td title */
.chat_info_td{ background: transparent; padding: 5px; border-bottom: 1px solid transparent; }
.chat_info_td_traffic{ padding: 5px; }
.chat_info_td_traffic_info{ padding: 5px; background: transparent; font-weight: bold; }
.chat_info_td_traffic_img{ background: #CDDEF8; }
.chat_info_td_blank{ padding: 5px; }
.chat_info_end{ height: 1px; }
.chat_info_tr_traffic_row{ background: transparent; }

.chat_info_link{ cursor: pointer; }

/* for #chat_body don't go past 10px padding or layout error */
#chat_body{ padding: 5px; color: #676464; background: #FFFFFF; border: 1px solid #C6D6F0; opacity: 0.9; filter: alpha(opacity=90); }
#chat_button_start{ }

#chat_text_header{ font-size: 18px; font-weight: bold; }
#chat_text_header_sub{ }
#chat_text_powered{ font-size: 10px; text-shadow: #FFFFFF 1px 1px; }

#chat_footer{ border-top: 1px solid transparent; background: #FFFFFF; opacity: 0.9; filter: alpha(opacity=90); }
.chat_footer_cell{ float: left; padding: 6px; font-weight: bold; background: url( bg_info_menu.gif ) repeat; border: 1px solid #C2D8F8; text-shadow: #FFFFFF 1px 1px; border-bottom: 0px solid; cursor: pointer; }
.chat_footer_cell_focus{ float: left; color: #FFFFFF; background: #3F84C9; border: 1px solid #F3F7FD; border-bottom: 0px solid; padding: 6px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_noclick{ float: left; padding: 3px; }
#chat_footer_traffic_counter{ padding: 2px; color: #3F84C9; background: #FFFFFF; border: 1px solid transparent; }
#chat_extra_wrapper{ background: url( bg_chat.jpg ) repeat; background-position: -1100px top; }
#chat_extra_title{ background: #FFFFE1; color: #8D90A8; border-top: 1px solid #BDBDA7; border-bottom: 1px solid #C5D6F0; }

.rating_title{ color: #F8FAFD; background: #4083C9; }
.marquee{ font-weight: bold;}

.info_box{ background: #ECF2F9; border: 1px solid #DBE6F4; padding: 5px; }
.info_error{ background: #F55054; border: 1px solid #BA3D40; padding: 5px; color: #FFFFFF; }
.info_good{ background: #43CB00; border: 1px solid #36A400; padding: 5px; color: #FFFFFF; }
.info_neutral{ background: #7BA3D7; border: 1px solid #7BA3D7; color: #FFFFFF; padding: 5px; }
.info_warning{ background: #FFE8C4; border: 1px solid #E1CDAD; padding: 5px; color: #5A5245; }
.info_content{ background: #CDDEF9; border: 1px solid #CDDEF9; padding: 5px; }

.sound_box_on{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.sound_box_off{ background: #F55054; padding: 5px; color: #FFFFFF; }
#div_new_canned{ background: #FBF7B4; padding: 5px; color: #806732; }

.info_disconnect{ padding: 3px; background: #FC8400; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }
.info_disconnect_hover{ padding: 3px; background: #EE3C3C; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }

#chat_panel{ text-shadow: #FFFFFF 1px 1px; }

/* canned messages related */
#chat_cans{ border-right: 1px dotted transparent; }
.chat_cans_text_new{ font-size: 10px; }
#canned_wrapper, #canned_box_new, #footprint_info_wrapper{ background: #FFFFFF; opacity: 0.9; filter: alpha(opacity=90); }
#canned_box_new{ padding: 15px; }
#canned_text_title{ font-size: 16px; font-weight: bold; }
#canned_box_oc{ width: 110px; text-align: center; }
#canned_select{ font-size: 10px; border: 1px solid #9A9CA0; }
#canned_select_btn{ font-size: 10px; margin-top: 5px; }

/* status related */
#chat_status{ }
#chat_status_offline{ background: #3F84C9; color: #DEE9FE; }
#chat_status_offline_text{ background: #FFFFFF; color: #3F84C9; }
#chat_status_logout{ background: #3F84C9; width: 100%; }

#chat_network{ border-left: 1px dotted transparent; }
#chat_network_img{ background: url( network.png ) no-repeat; }

/* page related *****/
.page_top_wrapper{ margin-bottom: 15px; }
.page_bottom_wrapper{ margin-top: 15px; }
.page, .page_focus{ float: left; padding: 2px; padding-left: 5px; padding-right: 5px; margin-right: 10px; }
.page{ font-weight: bold; background: #C8D8F1; color: #FFFFFF; border: 1px solid transparent; cursor: pointer; }
.page_focus{ background: #7BA3D7; color: #F9FBFE; border: 1px solid transparent; }
/* end page related */

.t_tl{ background: transparent; width: 5px; height: 5px; }
.t_tm{ background: transparent; height: 5px; }
.t_tr{ background: transparent; width: 5px; height: 5px; }
.t_ml{ background: transparent; width: 5px; }
.t_mr{ background: transparent; width: 5px; }
.t_bl{ background: transparent; width: 5px; height: 5px; }
.t_bm{ background: transparent; height: 5px; }
.t_br{ background: transparent; width: 5px; height: 5px; }
.t_mm{ background: transparent; padding: 10px; }

#input_text, .input_text, .input_text_search{ color: #676464; background: #FAFCFE; border: 1px solid #C6D6F0; padding: 2px; opacity: 0.9; filter: alpha(opacity=90); }
select{ background: #FAFCFE; border: 1px solid #C6D6F0; padding: 3px; opacity: 0.9; filter: alpha(opacity=90); }

#tooltip { position: absolute; z-index: 3000; background: #FAFAA6; border: 1px solid #FED22F; padding: 5px; color: #8B6824; white-space: nowrap; }
#tooltip h3, #tooltip div { margin: 0; }
#btn_initiate{ }

.help_tooltip{ cursor: pointer; }
.help_tooltip_help{ cursor: help; }
#tooltip.urls { }

.menu_traffic_info, .menu_traffic_info_focus{ padding: 5px; margin-right: 5px; float: left; cursor: pointer; border-top-left-radius: 5px 5px; -moz-border-radius-topleft: 5px 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
.menu_traffic_info{ background: #7BA3D7; color: #F9FBFE; font-weight: bold; }
.menu_traffic_info_focus{ font-weight: bold; border: 1px solid #C6D6F0; border-bottom: 0px; }
#chat_widget_options{ color: #676464; background: #D8DADF; padding: 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }
